<form >
<div class="row">
    <div class="col-md-6 ml-3">
            <div class="form-group">
                <label for="nombre"> Nombre del examen: </label>
                <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control">
            </div>

            <div class="form-group">
                <label for="sinMembresia"> Precio del examen sin membresia: </label>
                <input type="text" name="sinMembresia" id="sinMembresia" placeholder="Precio sin membresia" class="form-control">

            </div>

            <div class="form-group">
                <label for="conMembresia"> Precio del examen con membresia: </label>
                <input type="text" name="conMembresia" id="conMembresia" placeholder="Precio con membresia" class="form-control">

            </div>
                
            <div class="form-group">
                
                <label for="urgeneciasSin"> Precio del examen en urgencia: </label>
                <input type="text" name="urgeneciasSin" id="urgeneciasSin" placeholder="Precio del examen en urgencia" class="form-control">

            </div>


            <div class="form-group">

                <label for="urgenciasCon"> Precio del examen en urgencia con membresia: </label>
                <input type="text" name="urgenciasCon" id="urgenciasCon" placeholder="Precio del examen en urgencia con membresia" class="form-control">
            </div>


            
            <div class="form-group">

                <label for="muestra">Muestra:  </label>
                <input type="text" name="muestra" id="muestra" placeholder="Muestra requerida" class="form-control">
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    <label for="entrega">Entrega:  </label>
                    <input type="text" name="entrega" id="entrega" placeholder="Días de entrega" class="form-control">
                </div>

            </div>
      </div>
    </div>
</form>