<form class="chat">
    <div class="row">
        <div class="col-9">
            <div class="chat-body">

                <div class="card message-card" *ngFor="let message of mesages">
                    {{ message.message }} <span class="horaMessage"> {{message.horaEnvio}}  </span>
                </div>
        
            </div>
        </div>
        <div class="col-3">
            <div class="container-membres">
                <diV *ngFor="let item of usuarioConectados">
                <a class="badge badge-secondary"  (click)="verUsaurio(  item.role )">  {{ item.role }} </a>
                </diV>
            </div>
        </div>
    </div>

    <div class="chat-message">
        <textarea type="text" rows="1" name="message" id="message" placeholder="Mensaje" class="form-control chat-input" [(ngModel)]="message"></textarea>
        <button class="btn btn-primary btn-chat" (click)="enviarData()" [disabled]="message === ''"> Enviar </button>
    </div>

</form>