<form class="card chat">


    <div class="chat-header" (click)="cerrarVentanachat()">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"           >&times;</span>
          </button>

        <div class="conversacion">
            <p class="text-warning">
                {{ roleNotificacion }}

            </p>
        </div>


    </div>

    <div class="chat-body">

        <div class="card message-card" *ngFor="let message of mesages">
            {{ message.message }} <span class="horaMessage"> {{message.horaEnvio}}  </span>
        </div>

    </div>

    <div class="chat-message">
        <input type="text" name="message" id="message" placeholder="Mensaje" class="form-control chat-input" [(ngModel)]="payload.message">
        <button class="btn btn-primary btn-chat" (click)="enviarData()"> Enviar </button>
    </div>

</form>