<div class="container">

    <div class="row">

        <div class="col-md-4">
            <img src="../../../../assets/images/dibujo-1.svg" alt="aqui va una imagen">
        </div>

        <div class="col-md-4">

            <h1 class="center"><b> IDENTIFICACIÓN </b></h1>

        </div>
    </div>

    <div class="row">
        <div class="col-sm">

            <h2><label>Nombre:</label>

                <p>{{paciente.nombrePaciente}} </p>
            </h2><br>

        </div>


        <div class="col-sm">

            <h2><label>Alérgico</label>
                <p>Alergia</p>
            </h2> <br>

        </div>


        <div class="col-sm">

            <h4><label>CURP</label>
                <p>{{paciente.curp}}</p>
            </h4><br>

        </div>

        <div class="col-sm">

            <h4><label>Sexo</label>
                <p></p>
            </h4><br>


        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-sm">
            <h4><label>Edad</label>
                <p>{{paciente.edad}}</p>
            </h4><br>

        </div>

        <div class="col-sm">

            <h4><label>Piso</label>
                <p>piso</p>
            </h4><br>

        </div>

        <div class="col-sm">

            <h4><label>Peso de ingreso</label>
                <p>peso</p>
            </h4> <br>

        </div>

        <div class="col-sm">

            <h4><label>Enfermera que ingresa</label>
                <p>enfermera</p>
            </h4> <br>

        </div>

    </div>

    <button type="button" class="btn btn-primary">
        <i class="fas fa-file-pdf"></i>
        Imprimir</button>

</div>