.center {
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 4%;
}

.btn-primary {
    margin-left: 45%;
<<<<<<< Updated upstream
}

.row {
    margin-left: 5%;
=======
>>>>>>> Stashed changes
}