
<!--  TODO: cmabiar el nombre al paquete de quirofano -->

<div class="row">
  
    <div class="col-md-12 col-lg-6 col-xm-12 col-sm-12"   *ngFor="let paquete of paquetes" >
      <div class="card mb-3 ml-4 border-left-success" style="max-width:520px; margin-bottom: .4rem;"  >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="paquete.icon" class="card-img pointer" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h4>  {{ paquete.nombrePaquete }}  </h4>
              <a class="btn btn-outline btn-block btn-success" [routerLink]="['/paquete', paquete._id]" > Ver más... </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-12 col-lg-6 col-xm-12 col-sm-12 ">
      <div class="card mb-4 ml-4 border-left-success" style="max-width:540px; margin-bottom: .4rem;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/icons/surgery.svg" class="card-img" >
          </div>
  
          <div class="col-md-8">
            <div class="card-body">
            <h5>  PAQUETE DE QUIROFANO EXTERNOS/INTERNOS  </h5>
          <a class="btn btn-outline btn-block btn-success" [routerLink]="['/paquetes', 'quirofano']" > Ver más... </a>
        </div>
      </div>
    </div>  
    </div>
  </div>
    
  </div>
  
  <div class="row" >
   
  </div>
  