#content{
    max-width: 87%;
  }

  app-spinner{
    width: 5rem;
    height: 5rem;
  }


  .img-fluid{
    cursor: pointer;
    width: 10em;
    height: 10em;
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .card2{
    display: inline-block !important;
    width: 70% !important;
  }
  .card{
    margin-left: 9em;
    border-radius: 2em;
    box-shadow: 7px 7px 44px -8px rgba(0,22,114,0.9);
    height: 17em;
    margin-bottom: 3em;
  }
  h2{
    color:#001672;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
  }
  a {
    color: white !important ;
  }
  .primary {
    color: #4e73df;
  }
