<h1 class="center">Hoja Diaria Enfermería Consulta Externa</h1>

<div class="center">

    <div class="row">

        <div class="col-md-10 upset-1">

            <table class="table table-hover izq" id="bitacora">

                <thead class="thead-dark center">

                    <tr>

                        <th scope="col"> Número</th>
                        <th scope="col ">Nombre del Paciente</th>
                        <th scope="col ">Edad</th>
                        <th scope="col ">Servicio Médico</th>
                        <th scope="col ">Médico</th>
                        <th scope="col ">Hora de Cita</th>
                        <!-- *ngIf="role==='admin'" -->

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let listaEsperaP of listaEspera; let i = index">
                        <td>
                            {{i+1}}
                        </td>
                        <td class="clickss" [routerLink]="['/ficha-enfermeria-01', listaEsperaP.pacienteId]" routerLinkActive="router-link-active">
                            {{listaEsperaP.nombrePaciente}}
                        </td>

                        <td>{{listaEsperaP.edad}}</td>

                        <td>{{listaEsperaP.servicio}}</td>

                        <td>{{listaEsperaP.doctor}}</td>

                        <td>{{listaEsperaP.horallegada}}</td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

    <div class="btn">

        <button class="btn btn-primary" (click)="imprimirBitacora()">Imprimir Bitácora</button>

    </div>

</div>