.izq {
    margin-left: 5rem;
}

.clickss {
    cursor: pointer;
}


/* .clickss:hover {
    background-color: #3176df;
    color: #ffffff;
    font-weight: bold;
} */

.table-hover:hover {
    color: #ffffff;
}

.colors {
    background-color: #fa284b8e;
    color: #ffffff;
    font-weight: bold;
}