<h1 class="center">Hoja Diaria Enfermería Consulta Externa</h1>
<div class="center">
    <div class="row">
        <div class="col-md-10 upset-1">

            <table class="table table-hover izq">
                <thead class="thead-dark center">

                    <tr>
                        <th scope="col"> Número</th>
                        <th scope="col ">Nombre del Paciente</th>
                        <th scope="col ">Edad</th>
                        <th scope="col ">Servicio Médico</th>
                        <th scope="col ">Médico</th>
                        <th scope="col ">Hora de Cita</th>
                        <!-- *ngIf="role==='admin'" -->
                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor="let listaEsperaP of listaEspera; let i = index">
                        <td>
                            {{i+1}}
                        </td>
                        <td [routerLink]="['/ficha-enfermeria-01', listaEsperaP.consulta.pacienteId]" routerLinkActive="router-link-active">
                            {{listaEsperaP.consulta.nombrePaciente}}
                        </td>

                        <td>{{listaEsperaP.consulta.edad}}</td>

                        <td>{{listaEsperaP.consulta.servicio}}</td>

                        <td>{{listaEsperaP.consulta.doctor}}</td>

                        <td>{{listaEsperaP.consulta.horallegada}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>