<div class="container-fluid containeer">
    <div class="card-columns">
        <section id="team" class="pb-5">
            <!-- Team member -->

            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/nursey/report.svg" alt="card image"></p>
                    <h4 class="card-title">CONSULTA EXTERNA</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/hoja-diaria-enfermeria-general']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>

            <!-- ./Team member -->
            <!-- Team member -->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/nursey/car copia.svg" alt="card image"></p>
                    <h4 class="card-title">URGENCIAS</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/resonancia-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/nursey/bed copia.svg" alt="card image"></p>
                    <h4 class="card-title">TERAPIA INTENSIVA</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/tomografia-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>

            <!-- ./Team member -->
            <!-- Team member -->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/nursey/child copia.svg" alt="card image"></p>
                    <h4 class="card-title">TOCOLOGIA</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/trabajo-social-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/nursey/report-1 copia.svg" alt="card image" [routerLink]="['/ultrasonido']"></p>
                    <h4 class="card-title">TERAPIA NEONATAL</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/ultrasonido']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/nursey/surgery copia.svg" alt="card image"></p>
                    <h4 class="card-title">QUIROFANO</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/urgencias-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/nursey/report.svg" alt="card image"></p>
                    <h4 class="card-title">HOSPITAL</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/urgencias-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid cursor" src="../../../assets/icons/serviciosIconos/options.svg" alt="card image" [routerLink]="['/otros-servicios']" routerLinkActive="router-link-active"></p>
                    <h4 class="card-title">Otros Servicios</h4>
                    <button type="button" class="btn btn-primary" [routerLink]="['/otros-servicios']" routerLinkActive="router-link-active">Ver Servicio</button>
                </div>
            </div>
            <!-- ./Team member -->
        </section>
    </div>
</div>