<div class="container-fluid">

    <h1 class="centerxd">LISTADO DE PACIENTES</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Buscar" [(ngModel)]="filtropacientes" class="form-control" style="margin-left: 25px; max-width:40em">
            </div>
        </div>
        <div class="col-md-2">
            <button type=" button " class="btn btn-secondary boton_contra2" (click)="modalService.abrirModal()">NUEVO</button>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="border-radius: 30px; margin-left: 25px;">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-4 text_header">
                            <p>Nombre</p>
                        </div>

                        <div class="col-md-2 text_header">
                            <p>Género</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>Edad</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>Telefono</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>Servicios</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let paciente of pacientes2 | pacientes:filtropacientes | paginate:{id:'listapacientes',
                    itemsPerPage: 10,
                    currentPage:pagina,
                    totalItems:totalpaciente}">
                        <div class="row">
                            <div class="col-md-4" style="text-align: center;">
                                {{ paciente.nombrePaciente }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }} <br>
                            </div>
                            <div class="col-md-2" style="text-align: center;"> {{paciente.sexo}} <br></div>
                            <div class="col-md-2" style="text-align: center;">
                                {{ paciente.edad }}<br>
                            </div>
                            <div class="col-md-2" style="text-align: center;">
                                {{ paciente.telefono }} <br>
                            </div>
                            <div class="col-md-2" style="text-align: center;">
                                <a (click)="_modalservicioInt.abrirModalServicioIntegrados( paciente )">Ver...</a> <br>
                                <app-modal-servicios-int>[idUser]="paciente._id"</app-modal-servicios-int>
                                                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                <pagination-controls id="listapacientes" maxSize="6" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <app-modal></app-modal>

    </div>