
<div class="container-fluid">


    <div class="row">
  
     
      <div class="offset-md-6" ></div>
      
      <div *ngIf="pacientes.length === 0" class="center" >
        <app-spinner></app-spinner>
      </div>
  
      
      <div class="col-md-6" >
        <form #f="ngForm" (ngSubmit)="ingreso( f )" >
        <div class="form-group">
          <input type="text" name="buscarPaciente" ngModel placeholder="Buscar paciente"  (keyup)="ingreso( f )" class="form-control search-paciente">
          <button  type="submit"  class="btn btn-primary" > 
            <i class="fas fa-search"></i>  
          </button>
        </div>
        </form>
      </div>
      
      </div>
  
    <a class="pointer" (click)="modalService.abrirModal()" data-toggle="modal" data-target="#exampleModal"  >
    <i class="fas fa-user-plus"></i>  Nuevo paciente</a>
  
      <!-- <app-search-bar></app-search-bar> -->
  <div class="table-responsive" >
    <table class="table table-bordered" >
      <thead>
        <th scope="col"> Nombre </th>
        <th scope="col"> Edad </th>
        <th scope="col"> Servicios integrados </th>
      
        </thead>
  
      <tbody>
          <tr *ngFor="let paciente of pacientes" >
            <td> {{ paciente.nombrePaciente }} {{ paciente.apellidoPaterno }}  {{ paciente.apellidoMaterno  }} </td>
            <td >
               {{ paciente.edad }}
           
               <!-- <i class="fas fa-exclamation-triangle"></i> -->
           
              </td>
            <!-- (click)="modalService.abrirModal()" -->
            <td  (click)="_modalservicioInt.abrirModalServicioIntegrados( paciente )">  
              <a> Ver.. </a> 
              <!-- <pre> usuario id {{ paciente | json }} </pre> -->
            </td>
            <app-modal-servicios-int [idUser]="paciente._id"></app-modal-servicios-int>
          </tr>
      </tbody>
  
  </table>
  
  </div>
    
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" (click)="paginaAnterior()">  <i class="fas fa-arrow-left"></i> </a>
        </li>
        <li class="page-item">
          <a class="page-link"  (click)="siguentePagina()">  <i class="fas fa-arrow-right"></i> </a>
        </li>
      </ul>
    </nav>
  
    <app-modal></app-modal>
  
  </div>
  
  