li {
    list-style: none;
    font-size: 1.3rem;
}

h3 {
    font-size: 1.7rem;
    font-weight: 700;
}

.text-white {
    font-size: 1.7rem;
    font-weight: 400;
}

.btn {
    margin-top: 1.6rem;
    border-radius: 0;
}

.center {
    margin-left: 1.3rem;
}

.col-md-3 {
    height: auto;
}

.fa-exclamation-triangle {
    color: #FFD700;
    margin-top: .8em;
}

.center {
    text-align: center;
}