<div class="arriba">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{page_title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <form #ambulanciaForm="ngForm" (ngSumbit)="onSubmit()">
                    <div class="form-group">
                        <label for="DESTINO" class="col-form-label">Destino:</label>
                        <input type="text" name="DESTINO" #destino="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.DESTINO">


                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_DIA" class="col-form-label">Precio público día:</label>
                        <input type="text" name="PRECIO_PUBLICO_DIA" #pDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_PUBLICO_DIA">


                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_REDONDO_DIA" class="col-form-label"> Precio público redondo día:</label>
                        <input type="text" name="PRECIO_PUBLICO_REDONDO_DIA" #pRDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_PUBLICO_REDONDO_DIA">


                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_NOCHE" class="col-form-label">Precio público noche:</label>
                        <input type="text" name="PRECIO_PUBLICO_NOCHE" #pNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_PUBLICO_NOCHE">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_REDONDO_NOCHE" class="col-form-label">Redondo Noche:</label>
                        <input type="text" name="PRECIO_PUBLICO_REDONDO_NOCHE" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_PUBLICO_REDONDO_NOCHE">


                    </div>

                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_DIA" class="col-form-label">Precio membresia día:</label>
                        <input type="text" name="PRECIO_MEMBRESIA_DIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_MEMBRESIA_DIA">

                    </div>
                    <div class="form-group">


                        <label for="PRECIO_MEMBRESIA_NOCHE" class="col-form-label">Precio membresia noche:</label>
                        <input type="text" name="PRECIO_MEMBRESIA_NOCHE" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_MEMBRESIA_NOCHE">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_REDONDO_DIA" class="col-form-label">Precio membresia redondo día:</label>
                        <input type="text" name="PRECIO_MEMBRESIA_REDONDO_DIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_MEMBRESIA_REDONDO_DIA">
                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_REDONDO_NOCHE" class="col-form-label">Precio membresia redondo noche:</label>
                        <input type="text" name="PRECIO_MEMBRESIA_REDONDO_NOCHE" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.PRECIO_MEMBRESIA_REDONDO_NOCHE">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button> -->
                <input type="submit" value="Guardar" class="btn btn-primary" (click)="onSubmit()">
            </div>
        </div>
    </div>
</div>


<!-- 
DESTINO: "test4-edit"
PRECIO_MEMBRESIA_DIA: "6000"
PRECIO_MEMBRESIA_NOCHE: "8000"
PRECIO_MEMBRESIA_REDONDO_DIA: "7000"
PRECIO_MEMBRESIA_REDONDO_NOCHE: "9000"
PRECIO_PUBLICO_DIA: "2500"
PRECIO_PUBLICO_NOCHE: "9000"
PRECIO_PUBLICO_REDONDO_DIA: "8000"
PRECIO_PUBLICO_REDONDO_NOCHE: "5000" 
-->