<div class="row" >
    <div class="col-md-4" >
      <div class="form-group" >
        <input type="text" placeholder="Nombre o razón social" class="form-control" name="nombreRazonSocial_2" [(ngModel)]="nombreRazonSocial"   >
        <input type="text" placeholder="Entidad federativa" value="{{ estadoFiscal }}" class="form-control"  [(ngModel)]="estadoFiscal" name="entidadFederativa_2" >
        <select class="form-control" name="poblacion" placeholder="Lugar" [(ngModel)]="localidad"  >
            <option value="{{ localidad }}" *ngFor="let localidad of localidades">
                {{tipoAsentamiento}} - {{ localidad }} </option>
        </select>

       </div>
      </div>
    <div class="col-md-4" >
      <div class="form-group" >
          <input type="text" [(ngModel)]="RFCFiscal_2" name="RFCFiscal_2" class="form-control"  placeholder="RFC" ss="form-control">
          <input type="text" [(ngModel)]="municipioFiscal_2" placeholder="Municipio"  value="{{ municipioFiscal_2 }}"  class="form-control" name="municipioFiscal_2"  >
      </div>
    </div>
    <div class="col-md-4" >
      <div class="form-group" >
          <input type="number" [(ngModel)]="codigoFiscal2" #codigo (change) ="getUbicacion( codigo.value )"  placeholder="Código postal" min="0"   class="form-control" name="cpFiscal_2" >
          <input type="text" [(ngModel)]="localidadFiscal2" placeholder="Localidad"  value="{{ municipioFiscal_2 }}" class="form-control"  name="localidadFiscal_2" >
          <input type="mail" placeholder="Correo electrónico"  [(ngModel)]="emailFiscal" (change)="sentdatos()"  class="form-control fiscal-mail" name="emailFiscal_2" >
      </div>
    </div>
  </div>
