<h2 class="center">Pedidos pendientes</h2>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre del paciente</th>
                        <th>Nombre edad </th>
                        <th> Sexo del paciente </th>
                        <th> Estado del pedido </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="pedido of pedidos">
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>