<form>

    <div class="row">
        <div class="col-md-12">
            <h2>
                IDENTIFICACIÓN
            </h2>
        </div>
    </div>

</form>


<div class="row">
    <div class="col-md-6">
        <!-- GRAFICA DEL SEXO -->
        <h3> importancia de la identificación</h3>
        <app-grafica> </app-grafica>
    </div>

    <div class="col-md-6">

        <!-- sexo -->
        <h3> Sexo </h3>
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType">
                    </canvas>
                </div>

            </div>
        </div>

    </div>


</div>


<div class="row">

    <div class="col-md-6">
        <h3> Membretes legibles </h3>
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels1" [chartType]="barChartType">
                </canvas>
                </div>

            </div>
        </div>
    </div>


    <!-- SOLICITUD DE ESTUDIOS -->
    <div class="col-md-6">
        <h3> Solicitudes de estudio entendibles </h3>
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData1" [chartType]="barChartType">
                </canvas>
                </div>

            </div>
        </div>

    </div>


    <!-- ESTUDIOS DE GABINETES -->

    <div class="col-md-6">
        <h3> Solicitudes de gabinete legibles </h3>
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData3" [labels]="barChartLabels1" [chartType]="barChartType">
                </canvas>
                </div>

            </div>
        </div>
    </div>
</div>