<form>

    <div class="row">
        <div class="col-md-12">
            <h2>
                IDENTIFICACIÓN
            </h2>
        </div>
    </div>

</form>


<div class="row">
    <div class="col-md-6">
        <app-grafica> </app-grafica>
    </div>
    <div class="col-md-6">
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType">
                </canvas>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1" [chartType]="barChartType">
                </canvas>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels1" [chartType]="barChartType">
                </canvas>
                </div>

            </div>
        </div>
    </div>
</div>