<div class="arriba">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Editar Otros servicios
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #ambulanciaForm="ngForm" (ngSumbit)="onSubmit()">
                    <div class="form-group">
                        <label for="destino" class="col-form-label">Descripción del Servicio:</label>
                        <input type="text" name="DESCRIPCION_DE_SERVICIO" #DESCRIPCION_DE_SERVICIO="ngModel" class="form-control" id="recipient-name" [(ngModel)]="otrosEdit.DESCRIPCION_DE_SERVICIO" [value]="otrosEdit.DESCRIPCION_DE_SERVICIO" required>

                    </div>
                    <div class="form-group">
                        <label for="precioDia" class="col-form-label">Membresia Día:</label>
                        <input type="text" name="MEMBRESIA_DIA" #pDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="otrosEdit.MEMBRESIA_DIA" [value]="otrosEdit.MEMBRESIA_DIA">
                        <small *ngIf="!pDia.valid && pDia.touched">
                            El Precio Día no es válido..
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="precioRedondoDia" class="col-form-label">Membresia Noche:</label>
                        <input type="text" name="MEMBRESIA_NOCHE" #pRDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="otrosEdit.MEMBRESIA_NOCHE" [value]="otrosEdit.MEMBRESIA_NOCHE">

                        <small *ngIf="!pRDia.valid && pRDia.touched">
                            El Precio Redondo Día no es válido..
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="precioNoche" class="col-form-label">Publico Día:</label>
                        <input type="text" name="PUBLICO_DIA" #pNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="otrosEdit.PUBLICO_DIA" [value]="otrosEdit.PUBLICO_DIA">
                        <small *ngIf="!pNoche.valid && pNoche.touched">
                            El Precio Noche no es válido..
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="precioRedondoNoche" class="col-form-label">Publico Noche:</label>
                        <input type="text" name="PUBLICO_NOCHE" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="otrosEdit.PUBLICO_NOCHE" [value]="otrosEdit.PUBLICO_NOCHE">
                        <small *ngIf="!pRNoche.valid && pRNoche.touched">
                            El Precio Redondo Noche no es válido..
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button> -->
                <input type="submit" value="Guardar" class="btn btn-primary" (click)="onSubmit()">
            </div>
        </div>
    </div>
</div>