<h2>Consulta Médico General</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <label for="">Nombre:</label>
                    <p>Aquí va el nombre</p>
                </div>
                <div class="col-md-4">
                    <label for="">Domicilio:</label>
                    <p>Domiciliooooo</p>
                </div>
                <div class="col-md-4">
                    <label for="">Correo:</label>
                    <p>Correoooo</p>
                </div>
                <div class="col-md-4">
                    <label for="">Contacto Emergencia:</label>
                    <p>Contactaaaaaaaaaa</p>
                </div>
                <div class="col-md-4">
                    <label for="">Edad:</label>
                    <p>Edad</p>
                </div>
                <div class="col-md-4">
                    <label for="">C.P.:</label>
                    <p>Código Postal</p>
                </div>
                <div class="col-md-4">
                    <label for="">Teléfono:</label>
                    <p>999999999999999</p>
                </div>
            </div>
        </div>
    </div>

</div>
<h2>Médicos Generales Disponibles</h2>
<form action="">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" value="DrX" name="doctores">
                    <label for="">Dr. X</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3 mb-1">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
                <div class="col-md-6">
                    <input type="radio" value="DrX" name="doctores">
                    <label for="">Dr. Y</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3 mb-1">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
                <div class="col-md-6">
                    <input type="radio" value="DrX" name="doctores">
                    <label for="">Dr. Z</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3 mb-1">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
                <div class="col-md-6">
                    <input type="radio" value="DrX" name="doctores">
                    <label for="">Dr. Alpha</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="enviarId()">Enviar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</form>