<h2>Consulta Médico General</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <label for="">Nombre: </label>
                    <p>{{nombrePaciente}}</p>
                </div>
                <div class="col-md-4">
                    <label for="">Domicilio: </label>
                    <p>{{calleNumeroPaciente}}</p>
                </div>
                <div class="col-md-4">
                    <label for="">Correo:</label>
                    <p>{{correo}}</p>
                </div>
                <div class="col-md-4">
                    <label for="">Contacto Emergencia: </label>
                    <p>{{contactoEmergencia1}}</p>
                </div>
                <div class="col-md-4">
                    <label for="">Edad: </label>
                    <p>{{edad}}</p>
                </div>

                <div class="col-md-4">
                    <label for="">Teléfono: </label>
                    <p>{{telefono}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<h2>Médicos Generales Disponibles</h2>
<form action="">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" value="DrX" id="DrX" name="doctores" [(ngModel)]="enfermeriaVisitas.doctor">
                    <label for="DrX">Dr. X</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3 mb-1" [(ngModel)]="enfermeriaVisitas.consultorio">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
                <div class="col-md-6">
                    <input type="radio" value="DrY" id="DrY" name="doctores" [(ngModel)]="enfermeriaVisitas.doctor">
                    <label for="DrY">Dr. Y</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3 mb-1" [(ngModel)]="enfermeriaVisitas.consultorio">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
                <div class="col-md-6">
                    <input type="radio" id="Drz" value="DrZ" name="doctores" [(ngModel)]="enfermeriaVisitas.doctor">
                    <label for="DrZ">Dr. Z</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3 mb-1" [(ngModel)]="enfermeriaVisitas.consultorio">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
                <div class="col-md-6">
                    <input type="radio" value="DrA" id="DrA" name="doctores" [(ngModel)]="enfermeriaVisitas.doctor">
                    <label for="DrA">Dr. Alpha</label>
                </div>
                <select name="consultorios" id="" class="form-control col-md-3" [(ngModel)]="enfermeriaVisitas.consultorio">
                    <option value="" selected>--Seleccione Consultorio--</option>
                    <option value="consultorio1">Consultorio 1</option>
                    <option value="consultorio2" >Consultorio 2</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="enviarId()">Enviar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</form>