<h1 class="center"> Perfiles </h1>



<div class="container-fluid">

    <div class="row mb-4 ">
        <div class="col-md-4">

            <button class="btn btn-block btn-primary" [routerLink]="['/perfiles', 'nuevo']"> 

                Agrega un nuevo perfil
            </button>

        </div>

        <div class="col-md-6">

        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-10">
            <table>
                <thead>
                    <th>
                        Estudios
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Hola
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>