button {
    width: 45%;
    text-align: center;
}

.cursos {
    cursor: pointer;
}

.fixed {
    top: 18%;
    right: 0;
}

.btn-card-footer {
    width: 100%;
}

.card {
    max-height: 28rem;
}

.card-body {
    overflow-y: scroll;
}

.form-control {
    border-radius: 5px;
}

.eliminarelemento{
    width: 100%;
}

.btn-tarjeta{
    width: 100%;
}