<div class="arriba">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Estudio Ultrasonido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #xRayForm="ngForm" (ngSumbit)="onSubmit()">
                    <div class="form-group">
                        <label for="ESTUDIO" class="col-form-label">Estudio:</label>
                        <input type="text" name="ESTUDIO" #pDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.ESTUDIO" [value]="ultrasonidoEdit.ESTUDIO">

                    </div>
                    <div class="form-group">
                        <label for="INDICACIONES" class="col-form-label">Indicaciones:</label>
                        <input type="text" name="INDICACIONES" #pDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.INDICACIONES" [value]="ultrasonidoEdit.INDICACIONES">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO" class="col-form-label">Precio Público:</label>
                        <input type="text" name="PRECIO_PUBLICO" #pRDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_PUBLICO" [value]="ultrasonidoEdit.PRECIO_PUBLICO">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_URGENCIA" class="col-form-label">Precio Urgente:</label>
                        <input type="text" name="PRECIO_PUBLICO_URGENCIA" #pNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_PUBLICO_URGENCIA" [value]="ultrasonidoEdit.PRECIO_PUBLICO_URGENCIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_HOSPITALIZACION" class="col-form-label">Precio Público Hospitalización</label>
                        <input type="text" name="PRECIO_PUBLICO_HOSPITALIZACION" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_PUBLICO_HOSPITALIZACION" [value]="ultrasonidoEdit.PRECIO_PUBLICO_HOSPITALIZACION">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA" class="col-form-label">Precio Público Hospitalización Urgente</label>
                        <input type="text" name="PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA" [value]="ultrasonidoEdit.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA" class="col-form-label">Precio Membresia</label>
                        <input type="text" name="PRECIO_MEMBRESIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_MEMBRESIA" [value]="ultrasonidoEdit.PRECIO_MEMBRESIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_URGENCIA" class="col-form-label">Precio Membresia URGENCIA</label>
                        <input type="text" name="PRECIO_MEMBRESIA_URGENCIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_MEMBRESIA_URGENCIA" [value]="ultrasonidoEdit.PRECIO_MEMBRESIA_URGENCIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_HOSPITALIZACION" class="col-form-label">Precio HOSPITALIZACION Membresia</label>
                        <input type="text" name="PRECIO_MEMBRESIA_HOSPITALIZACION" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_MEMBRESIA_HOSPITALIZACION" [value]="ultrasonidoEdit.PRECIO_MEMBRESIA_HOSPITALIZACION">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_HOSPITALIZACION_URGENCIA" class="col-form-label">Precio HOSPITALIZACION URGENCIA Membresia</label>
                        <input type="text" name="PRECIO_MEMBRESIA_HOSPITALIZACION_URGENCIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_MEMBRESIA_HOSPITALIZACION_URGENCIA" [value]="ultrasonidoEdit.PRECIO_MEMBRESIA_HOSPITALIZACION_URGENCIA">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button> -->
                <input type="submit" value="Guardar" class="btn btn-primary" (click)="onSubmit()">
            </div>
        </div>
    </div>
</div>