<div class="arriba">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Estudio Ultrasonido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #xRayForm="ngForm" (ngSumbit)="onSubmit()">
                    <div class="form-group">
                        <label for="ULTRASONIDO" class="col-form-label">Ultrasonido:</label>
                        <input type="text" name="ULTRASONIDO" #DESCRIPCION_DE_SERVICIO="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.ULTRASONIDO" [value]="ultrasonidoEdit.ULTRASONIDO">


                        <!-- <input type="text" name="destino" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.destino"> -->
                    </div>
                    <div class="form-group">
                        <label for="INDICACIONES" class="col-form-label">Indicaciones:</label>
                        <input type="text" name="INDICACIONES" #pDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.INDICACIONES" [value]="ultrasonidoEdit.INDICACIONES">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO" class="col-form-label">Precio Público:</label>
                        <input type="text" name="PRECIO_PUBLICO" #pRDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_PUBLICO" [value]="ultrasonidoEdit.PRECIO_PUBLICO">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_URGENTE" class="col-form-label">Precio Urgente:</label>
                        <input type="text" name="PRECIO_URGENTE" #pNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PRECIO_URGENTE" [value]="ultrasonidoEdit.PRECIO_URGENTE">

                    </div>
                    <div class="form-group">
                        <label for="HOSP_DENTRO_DE_HORARIO" class="col-form-label">Hosp dentro de Horario</label>
                        <input type="text" name="HOSP_DENTRO_DE_HORARIO" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.HOSP_DENTRO_DE_HORARIO" [value]="ultrasonidoEdit.HOSP_DENTRO_DE_HORARIO">

                    </div>
                    <div class="form-group">
                        <label for="HOSP_URGENTE" class="col-form-label">Hospitalización Urgente</label>
                        <input type="text" name="HOSP_URGENTE" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.HOSP_URGENTE" [value]="ultrasonidoEdit.HOSP_URGENTE">

                    </div>
                    <div class="form-group">
                        <label for="PAGO_AL_DOC_URGENCIAS" class="col-form-label">Pago al Doctor Urgencias</label>
                        <input type="text" name="PAGO_AL_DOC_URGENCIAS" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ultrasonidoEdit.PAGO_AL_DOC_URGENCIAS" [value]="ultrasonidoEdit.PAGO_AL_DOC_URGENCIAS">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button> -->
                <input type="submit" value="Guardar" class="btn btn-primary" (click)="onSubmit()">
            </div>
        </div>
    </div>
</div>