<h1 class="centerxd">Servicio Integrado: Otros Servicios</h1>
<!-- <button type="button" class="btn btn-outline-primary"><i class="fas fa-plus"></i></button> -->
<button type="button" class="btn btn-info rightxd">Contratar</button>
<button type="button" class="btn btn-info rightxd xd" [routerLink]="['/otros-nuevo']" routerLinkActive="router-link-active">Agregar</button>

<!-- <div class="ambulanciaStyle">
    <ul>
        <li *ngFor="let ambulanciaService of ambulanciaSI">
            {{ ambulanciaService.DESTINO }}
        </li>
    </ul>
</div> -->
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Descripcion del Servicio</th>
            <th scope="col">Membresia Día</th>
            <th scope="col">Membresia Noche</th>
            <th scope="col">Publico Día</th>
            <th scope="col">Publico Noche</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="alertaDesc()" *ngFor="let otrosServicioss of otrosServiciosSI">
            <td> {{ otrosServicioss.DESCRIPCION_DE_SERVICIO }} </td>
            <td> $ {{ otrosServicioss. MEMBRESIA_DIA }}</td>
            <td> $ {{ otrosServicioss. MEMBRESIA_NOCHE }}</td>
            <td> $ {{ otrosServicioss. PUBLICO_DIA }}</td>
            <td> $ {{ otrosServicioss. PUBLICO_NOCHE }}</td>
            <td>
                <button type="button" class="btn btn-outline-success" [routerLink]="['/otros-editar', otrosServicioss._id]" routerLinkActive="router-link-active"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-outline-danger" (click)="delete(otrosServicioss._id)"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>

</table>