<h1 class="centerxd">Servicio Integrado: Otros Servicios</h1>
<!-- <button type="button" class="btn btn-outline-primary"><i class="fas fa-plus"></i></button> -->
<button type="button" class="btn btn-info rightxd">Contratar</button>
<button type="button" class="btn btn-info rightxd xd" [routerLink]="['/otros-nuevo']" routerLinkActive="router-link-active">Agregar</button>

<!-- <div class="ambulanciaStyle">
    <ul>
        <li *ngFor="let ambulanciaService of ambulanciaSI">
            {{ ambulanciaService.DESTINO }}
        </li>
    </ul>
</div> -->
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Estudio</th>
            <th scope="col">Indicaciones</th>
            <th scope="col">Precio Publico</th>
            <th scope="col">Precio Hospitalización Publico</th>
            <th scope="col">Precio Urgencias Publico</th>
            <th scope="col">Precio Hospitalización Urgencias Publico</th>
            <th scope="col">Precio Membresia</th>
            <th scope="col">Precio Hospitalización Membresia</th>
            <th scope="col">Precio Urgencias Membresia</th>
            <th scope="col">Precio Hospitalización Urgencia Membresia</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="alertaDesc()" *ngFor="let otrosServicioss of otrosServiciosSI">
            <td> {{ otrosServicioss.ESTUDIO }} </td>
            <td> {{ otrosServicioss.INDICACIONES }}</td>
            <td> $ {{ otrosServicioss.PRECIO_PUBLICO }}</td>
            <td> $ {{ otrosServicioss.PRECIO_PUBLICO_HOSPITALIZACION }}</td>
            <td> $ {{ otrosServicioss.PRECIO_PUBLICO_URGENCIA }}</td>
            <td> $ {{ otrosServicioss.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA }}</td>
            <td> $ {{ otrosServicioss.PRECIO_MEMBRESIA }}</td>
            <td> $ {{ otrosServicioss.PRECIO_MEMBRESIA_URGENCIA }}</td>
            <td> $ {{ otrosServicioss.PRECIO_MEMBRESIA_HOSPITALIZACION }}</td>
            <td> $ {{ otrosServicioss.PRECIO_MEMBRESIA_HOSPITALIZACIO_URGENCIA }}</td>
            <td>
                <button type="button" class="btn btn-outline-success" [routerLink]="['/otros-editar', otrosServicioss._id]" routerLinkActive="router-link-active"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-outline-danger" (click)="delete(otrosServicioss._id)"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>

</table>