<h1 class="centerxd">Servicio Integrado: Endoscopia</h1>

<div class="ambulance">
    <button type=" button " class="btn btn-primary separar " [routerLink]="['/hoja-fram']" routerLinkActive="router-link-active">Contratar</button>
    <button type="button " class="btn btn-secondary " [routerLink]="['/endoscopia-nuevo']" routerLinkActive="router-link-active">Nuevo Estudio</button>
</div>


<table class="table table-hover ">
    <thead class="thead-dark ">
        <tr>
            <th scope="col ">Procedimiento</th>
            <th scope="col ">Público</th>
            <th scope="col ">Membresia</th>
            <th scope="col ">Seguro Laboral</th>
            <th scope="col ">Diferencias</th>
            <th scope="col ">Acciones</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let endoscopiaS of endoscopiaSI">
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PROCEDIMIENTO }} </td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PUBLICO }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.MEMBRESIA }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.SEGUROLABORAL }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.DIFERENCIAPERSONASINYCON }}</td>
            <td>
               
                <button type="button " class="btn btn-outline-success separar" [routerLink]="['/endoscopia-editar', endoscopiaS._id]" routerLinkActive="router-link-active"><i class="far fa-edit"></i></button>
               
                <button type="button " class="btn btn-outline-danger" (click)="delete(endoscopiaS._id)"><i class=" fas fa-trash-alt " ></i></button>
                <!-- (click)="delete(ambulanciaSiService._id) " -->
             
                <!-- <button type="button " class="btn btn-outline-danger">
                    <i class="fas fa-trash-alt "></i>
                </button> -->
                <!-- (click)="delete(ambulanciaSiService._id)" -->

                <!-- (click)="eliminarAmbulancia() " -->
            </td>
        </tr>
    </tbody>