<h1 class="centerxd">Servicio Integrado: Endoscopia</h1>

<div class="ambulance">
    <button type=" button " class="btn btn-primary separar " [routerLink]="['/hoja-fram']" routerLinkActive="router-link-active">Contratar</button>
    <button type="button " class="btn btn-secondary " [routerLink]="['/endoscopia-nuevo']" routerLinkActive="router-link-active">Nuevo Estudio</button>
</div>


<table class="table table-hover ">
    <thead class="thead-dark ">
        <tr>
            <th scope="col ">Procedimiento</th>
            <th scope="col ">Indicaciones</th>
            <th scope="col ">Precio Público</th>
            <th scope="col ">Precio Público Urgente</th>
            <th scope="col ">Precio Hospitalización Público</th>
            <th scope="col ">Precio Hospitalización Público Urgencia</th>
            <th scope="col ">Precio Membresia</th>
            <th scope="col ">Precio Membresia Urgente</th>
            <th scope="col ">Precio Hospitalización Membresia</th>
            <th scope="col ">Precio Hospitalización Membresia Urgencia</th>
            <th scope="col ">Acciones</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let endoscopiaS of endoscopiaSI">
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.ESTUDIO }} </td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.INDICACIONES }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_PUBLICO }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_PUBLICO_URGENCIA }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_PUBLICO_HOSPITALIZACION }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_PUBLICO_HOSPITALIZACION_URGENCIA }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_MEMBRESIA }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_MEMBRESIA_URGENCIA }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_MEMBRESIA_HOSPITALIZACION }}</td>
            <td (click)="showAlert()" class="cursor"> {{ endoscopiaS.PRECIO_HOSPITALIZACION_URGENCIA_MEMBRESIA }}</td>

            <td>

                <button type="button " class="btn btn-outline-success separar" [routerLink]="['/endoscopia-editar', endoscopiaS._id]" routerLinkActive="router-link-active"><i class="far fa-edit"></i></button>

                <button type="button " class="btn btn-outline-danger" (click)="delete(endoscopiaS._id)"><i class=" fas fa-trash-alt " ></i></button>

            </td>
        </tr>
    </tbody>