app-nav-bar {
    width: 125%;
}

.ver-chat {
    display: flex;
    position: fixed;
}

.ocultar-chat {
    display: none;
}

.contact {
  position: fixed;
  margin-top: 32em;
  padding-left: 57em;
  height: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
