app-nav-bar {
    width: 125%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .0001) !important;
}

.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 1.33;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    float: right;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.ver-chat {
    display: block;
    position: absolute;
}

.ocultar-chat {
    display: none;
}

.contact {
    position: fixed;
    margin-top: 10em;
    padding-left: 0em;
    height: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:575px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -7em;
        margin-left: -1em;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -16em;
        margin-left: -2em;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -8em;
        margin-left: -1em;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -8em;
        margin-left: -2em;
    }
}

@media (min-width: 1200px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -6em;
        margin-left: -4em;
    }
    #ChatModal {
        margin-top: 4em;
        margin-left: 8em;
    }
}