<div id="wrapper" class="wrapper">
    <!-- Content Wrapper 

    <app-side-bar (notificarViaChat)="estadoChat($event )" [nombreUsuario]="usuario.nombre" class="orden"></app-side-bar>
-->
    <div id="content-wrapper" class="d-flex flex-column">

        <app-nav-bar [nombreUsuario]="usuario.nombre"></app-nav-bar>
        <section style="padding-left: 2em; padding-right: 2em;">
            <router-outlet></router-outlet>
        </section>
       
        <!-- En esta seccio ira el dashboars y sus compoentes  -->
        <div class="container-fluid" style="position: fixed; margin-top:40rem;">
            <button type="button" class="btn btn-circle btn-xl" (click)="abrirVentanaChat($event)" [style.display]="block">
                <img src="../../../assets/icons/comment.svg" width="50" height="50" (click)="abrirVentanaChat($event)">
                </button>
        </div>

        <!-- Inicia la seccion del chat -->
        <app-chat (cerrarChat)="cerrarVentanaChat($event)" class="ver-chat contact"></app-chat>
         <!--app-search-bar></app-search-bar -->
<!--         <footer class="fbg-dark text-dark" style="background-color: white; margin-top: 0em !important;">
            <h6 style="text-align: center;">Powered by emiexsec.com</h6>
          
          </footer>  -->
    </div>
</div>
