<form [formGroup]="registerForm" class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3 mr-3 mb-4">
            <label for="nombrePaquete"> NOMBRE DEL PAQUETE:  </label>
            <input type="text" class="form-control" placeholder="Nombre del paquete" formControlName="nombrePaquete">
        </div>

    </div>


    <div formArrayName="participantes">
        <div class="row">
            <div class="col-md-12">

                <h2 class="center"> MANO DE OBRA </h2>
            </div>

        </div>

        <div *ngFor="let item of  participantes.controls; let i = index">
            <div [formGroupName]="i">

                <div class="row">

                    <div class="col-md-4 mt-2">

                        <input type="text" placeholder="ESPECIALISTA" class="form-control" formControlName="especialista">

                    </div>
                    <div class="col-md-3">

                        <input type="text" placeholder="PAGO" class="form-control totalEspecialista" formControlName="montoEspecialista" (blur)="calcularTotalEspecialista()">
                    </div>

                </div>

            </div>
        </div>


        <div class="col-md-3">
            <h4 class="totales"> TOTAL: {{ totalEspecialista}} </h4>
        </div>


        <div class="col-md-3 mt-5">
            <button class="btn btn-block btn-info" (click)="otrosParticipantes()">
                    Otros participantes
            </button>


        </div>
    </div>

    <div formArrayName="maquinas">
        <div class="row">
            <div class="col-md-12">
                <h2 class="center">MAQUINAS</h2>
            </div>
        </div>
        <div class="maquinasContent" *ngFor="let item of maquinas.controls; let i = index">
            <div [formGroupName]="i">
                <div class="form-group row">

                    <div class="col-md-3">
                        <label for="" class="col-md-1"> MAQUINA </label>

                        <select name="nombreMaquina" id="nombreMaquina" class="form-control" formControlName="nombreMaquina">
                                <option value=""  selected >  Selecciona una maquina  </option>
                                <option [value]=" maquina.nombreDeLaMaquina "  *ngFor="let maquina of allMaquinas">   {{ maquina.nombreDeLaMaquina }}  </option>
                        </select>


                    </div>

                    <div class="col-md-3">
                        <label for=""> COSTO POR HORA </label>
                        <input type="text" class="form-control cosotoHoras" formControlName="costoPorHora">
                    </div>

                    <div class="col-md-3">
                        <label for="" class="col-md-1"> HORAS </label>
                        <input type="text" class="form-control horasMaquina" formControlName="horasAUsar" (blur)="calcularTotalMaquinas()">
                    </div>
                    <div class="col-md-2">
                                           </div>

                </div>
            </div>

        </div>

        <!-- puse el total de aca para que no se repita -->
        <h4 class="totales">
            TOTAL: {{ totalMaquinas}}
        </h4>


        <div>
            <button class="btn btn-info" (click)="addMachines()"> Agregar Maquinas </button>
        </div>
    </div>

    <div formArrayName="medicamentos">
        <div class="col-md-12 mb-3">
            <h2 class="center">MATERIALES</h2>
        </div>

        <div class="medicamentos" *ngFor="let item of medicine.controls; let i = index">
            <div [formGroupName]="i">
                <div class="row">



                    <div class="col-md-3">

                        <label for="medicamentos">
                            MEDICAMENTO A USAR:
                        </label>

                        <select name="medicamentos" id="medicamentos" class="form-control" formControlName="nombreMedicamentos">
                                <option value=""> Seleccciona un medicamento </option>
                                <option [value]="item.nombreDelMedicamento" *ngFor="let item of allMedicena"  >    {{  item.nombreDelMedicamento }}  </option>
                        </select>

                    </div>

                    <div class="col-md-2">

                        <label for="material1">
                           CANTIDAD :
                        </label>

                        <input type="text" name="material1" id="material1" placeholder="CANTIDAD" class="form-control cantidadMedicamento" formControlName="cantidadMedicamento">


                    </div>



                    <div class="col-md-2">

                        <label for="material1">
                           COSTO UNIDAD :
                        </label>

                        <input type="text" name="material1" id="material1" placeholder="COSTO" class="form-control costoMedicamento" formControlName="costoMedicamento" (blur)="calcularTotalMedicamentos()">

                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-md-2">
            <h4 class=" totales totalMedicamento">TOTAL: {{ totalMedicamentos }} </h4>
        </div>

        <div class="col-md-2">

            <button class="btn btn-block btn-info mt-4" (click)="addMedicine()">  AGREGAR  </button>

        </div>
    </div>


    <div class="row mt-4 mb-3">
        <div class="col-md-12">

            <h4 class="recuperacion center"> HORAS DE RECUPERACIÓN </h4>
        </div>

        <div class="col-md-3 mb-3">
            <input type="text" class="form-control horasRecuperacion" placeholder="Horas de recuperación" formControlName="horaRecuperacion">
        </div>

        <div class="col-md-4 mb-3">
            <input type="text" class="form-control costoHorasRecuperacion" placeholder="Costo por hora de recuperacion" formControlName="costoRecuperacion" (blur)="totalHorasRecuperacion()">
        </div>

        <div class="col-md-3 mb-3">
            <h4> Total: {{ totalHorasRecuperacionNumber }} </h4>
        </div>

    </div>



    <div class="col-md-3">
        <h3> 
            TOTAL DEL PAQUETE:  {{ totalPaquete }}
        </h3>
    </div>


    <div class="col-md-3">
        TOTAL SIN I.V.A: {{ totalIva }}
    </div>


    <button type="submit" class="btn btn-success btn-block" (click)="enviar()"> Crear Paquete  </button>
</form>



<div class="row mr-2 mt-4">
    <div class="col-md-5 offset-md-1">
        <form>
            <label for="buscarProNombre">  BUSCAR PACIENTE POR NOBMRE: </label>
            <input type="text" name="buscarProNombre" id="buscarProNombre" class="form-control" placeholder="Buscar paciente por nombre" (keyup)="buscarPaciente()" [(ngModel)]="pacienteTxt">
        </form>
    </div>


</div>
<div class="row mt-4">
    <div class="col-md-12">
        <table class="table">

            <thead class="thead-dark">
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Edad </th>
                    <th scope="col"> Sexo </th>
                    <th scope="col"> Agregar </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pacientesDB">
                    <th scope="row"> {{ item._id }} </th>
                    <td> {{ item.nombrePaciente }} {{ item.apellidoPaterno }} {{ item.apellidoMaterno }} </td>
                    <td> {{ item.edad }} </td>
                    <td> {{ item.genero}} </td>
                    <td> <button class="btn btn-success" (click)="agregarPaquete( item._id )"> Agregar </button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<pre>
    {{ registerForm.value | json }}
</pre>