<div class="fixed card-fixed">
    <div class="card border-dark mb-3" style="max-width: 18rem; max-height: 29rem;">
        <div class="card-header bg-transparent border-dark">
          <h5>
            Cotización
              
          </h5> 
        </div>
        <div class="card-body card-body-tarjeta text-dark">
          <h5 class="card-title">Total: $ {{carrito.totalSin}}</h5>
          <h5 class="card-title">Total membresia: $ {{ carrito.totalCon}}</h5>
          <h5 class="card-title">Ahorro: $ {{carrito.totalSin - carrito.totalCon}}</h5>
           
          <!-- <p *ngIf="total === 0" >
                Aún no tienes examenes
            </p> -->
            <hr>

            <div class="pedidos" >
                <p *ngFor="let pedido of carrito.items"> 
                  {{ pedido.nombreEstudio }} : {{ pedido.precioSin }} {{ pedido.precioNoche }}
                 
                  <button type="button" (click)="eliminar( pedido.idEstudio )" class="btn btn-danger btn-block mt-2 eliminarelemento">
                    <i class="fas fa-trash"></i>
                    Eliminar
                </button>
                </p>
                
                <hr>
               
          </div>

        </div>

        <div class="card-footer bg-transparent border-success">
                
          <div class="pay">
            <button type="button" class="btn btn-success btn-block">
              <i class="fas fa-hand-holding-usd"></i>
                Pagar
            </button>
            <button type="button" class="btn btn-primary btn-block mt-2">
                <i class="far fa-file-pdf"></i>
                Imprimir
            </button>
            <button  class="btn btn-block btn-info" >
              <i class="fas fa-share-alt"></i>
              Enviar
            </button>
          </div>

        </div>
      </div>
</div>