<h1 class="centerxd">Servicio Integrado: Rayos X</h1>
<div class="ambulance">
    <!-- <button type=" button " class="btn btn-primary separar " [routerLink]="['/hoja-fram']" routerLinkActive="router-link-active">Comprar</button> -->
    <div class="izq">
        <input type="text" name="filterPost" placeholder="Buscar...">
    </div>

    <button type="button " class="btn btn-secondary " [routerLink]="['/xray-nuevo']" routerLinkActive="router-link-active" *ngIf="role === 'admin'">
        Nuevo Estudio
    </button>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">



            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Estudio</th>
                        <th scope="col">Precio Publico</th>
                        <th scope="col">Precio Hospitalización Publico</th>
                        <th scope="col">Precio Urgencias Publico</th>
                        <th scope="col">Precio Hospitalización Urgencias Publico</th>
                        <th scope="col">Precio Membresia</th>
                        <th scope="col">Precio Hospitalización Membresia</th>
                        <th scope="col">Precio Urgencias Membresia</th>
                        <th scope="col">Precio Hospitalización Urgencia Membresia</th>

                        <th scope="col" *ngIf="role === 'admin'">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- (click)="alertaDesc()" -->
                    <tr *ngFor="let xrayServices of xraySI">
                        <td> {{ xrayServices.ESTUDIO }} </td>
                        <td>
                            $ {{ xrayServices.PRECIO_PUBLICO }}
                            <button class="btn btn-success precioPublico" (click)="agregarCarrito( $event, xrayServices )"> 
                            <i class="fas fa-plus"></i>  
                </button>

                        </td>
                        <td> $ {{ xrayServices.PRECIO_PUBLICO_HOSPITALIZACION }}</td>
                        <td> $ {{ xrayServices.PRECIO_PUBLICO_URGENCIA }}</td>
                        <td> $ {{ xrayServices.PRECIO_HOSPITALIZACIO_URGENCIA }}</td>
                        <td> $ {{ xrayServices.PRECIO_MEMBRESIA }}</td>
                        <td> $ {{ xrayServices.PRECIO_MEMBRESIA_HOSPITALIZACION }}</td>
                        <td> $ {{ xrayServices.PRECIO_MEMBRESIA_URGENCIA }}</td>
                        <td> $ {{ xrayServices.PRECIO_HOSPITALIZACION_URGENCIA_MEMBRESIA }}</td>
                        <td>
                            <!-- *ngIf="role === 'admin'" tiene que ir en el td de arriba -->
                            <button type="button" class="btn btn-outline-success" (click)="editarXray()" [routerLink]="['/xray-editar', xrayServices._id]" routerLinkActive="router-link-active"><i class=" far fa-edit "></i></button>
                            <button type="button " class="btn btn-outline-danger " (click)="delete(xrayServices._id) "><i class="fas fa-trash-alt "></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col-md-3">
            <div class="fixed card-fixed">
                <div class="card border-dark mb-3" style="max-width: 18rem; max-height: 29rem;">
                    <div class="card-header bg-transparent border-dark">
                        <h5>
                            Cotización

                        </h5>
                    </div>
                    <div class="card-body card-body-tarjeta text-dark">
                        <h5 class="card-title">Total: $ {{carrito.totalSin}}</h5>
                        <h5 class="card-title">Total membresia: $ {{ carrito.totalCon}}</h5>
                        <h5 class="card-title">Ahorro: $ {{carrito.totalSin - carrito.totalCon}}</h5>

                        <div class="pedidos">
                            <p *ngFor="let pedido of carrito.items">
                                {{ pedido.nombreEstudio }} : {{ pedido.precioSin }} {{ pedido.precioNoche }}

                                <button type="button" (click)="eliminar( pedido.idEstudio )" class="btn btn-danger btn-block mt-2 eliminarelemento btn-tarjeta">
                            <i class="fas fa-trash"></i>
                            Eliminar
                        </button>
                            </p>

                            <hr>

                        </div>

                    </div>

                    <div class="card-footer bg-transparent border-success">

                        <div class="pay">
                            <button type="button" class="btn btn-success btn-block btn-tarjeta">
                      <i class="fas fa-hand-holding-usd"></i>
                        Pagar
                    </button>
                            <button class="btn btn-dark btn-tarjeta mt-2" [routerLink]="['/paciente']" routerLinkActive="router-link-active">
                        <i class="fas fa-user-plus"></i>
                         Nuevo
                    </button>
                            <button type="button" class="btn btn-primary btn-block mt-2 btn-tarjeta">

                        <i class="far fa-file-pdf"></i>
                        Imprimir
                    </button>
                            <button class="btn btn-block btn-info  btn-tarjeta">
                      <i class="fas fa-share-alt"></i>
                      Enviar
                    </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>