<h1 class="centerxd">Servicio Integrado: Rayos X</h1>
<div class="ambulance">
    <button type=" button " class="btn btn-primary separar " [routerLink]="['/hoja-fram']" routerLinkActive="router-link-active">Comprar</button>
    <button type="button " class="btn btn-secondary " [routerLink]="['/xray-nuevo']" routerLinkActive="router-link-active">Nuevo Estudio</button>
</div>

<div class="izq">
    <input type="text" name="filterPost" placeholder="Buscar...">
</div>


<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Estudio</th>
            <th scope="col">Precio Normal</th>
            <th scope="col">Precio Hospitalización</th>
            <th scope="col">Precio Urgencias</th>
            <th scope="col">Precio Hospitalización Urgencias</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        <!-- (click)="alertaDesc()" -->
        <tr *ngFor="let xrayServices of xraySI">
            <td> {{ xrayServices.ESTUDIO }} </td>
            <td> $ {{ xrayServices.PRECIONORMAL }}</td>
            <td> $ {{ xrayServices.PRECIOHOSPITALIZACION }}</td>
            <td> $ {{ xrayServices.PRECIOURGENCIAS }}</td>
            <td> $ {{ xrayServices.PRECIOHOSPITALIZACIONURGENCIA }}</td>
            <td>
                <button type="button" class="btn btn-outline-success" (click)="editarXray()" [routerLink]="['/xray-editar', xrayServices._id]" routerLinkActive="router-link-active"><i class=" far fa-edit "></i></button>
                <button type="button " class="btn btn-outline-danger " (click)="delete(xrayServices._id) "><i class="fas fa-trash-alt "></i></button>
            </td>
        </tr>
    </tbody>