<h1 class="center">
    Patologías
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-block btn-primary" [routerLink]="['/patologia', 'nueva']">
                    Crear una patologia
            </button>

        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-9">
            <table class="table table-hover">
                <thead class="thead-dark">

                    <tr>

                        <th>Patología</th>
                        <th>Púlblico</th>
                        <th>Membresia</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patologia of patologias">
                        <td> {{patologia.PATOLOGIA}} </td>
                        <td>
                            {{patologia.PUBLICO}}
                        </td>
                        <td>
                            {{patologia.MEMBRESIA}}
                        </td>

                        <!-- *ngIf="role==='admin'" -->
                        <td>
                            <!-- Para navegar al componente editar -->

                            <button class="btn btn-outline-success" [routerLink]="['/patologia', 'edit',patologia._id]" routerLinkActive="router-link-active">
                        
                        <i class="far fa-edit"></i>
                    </button>
                            <button class="btn btn-outline-danger" (click)="deletePatologia(patologia._id)">
                        <i class="fas fa-trash-alt "></i>
                    </button>


                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>