<div class="container">
    <div class="container head-container">
        <h1 class="center">
            Receta Médica
        </h1>

        <div class="row">
            <div class="col-md">
                <p>Nombre: <span>{{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}} {{paciente.nombre}}</span> </p>
                <p>Edad: {{paciente.edad}} </p>
                <p>Sexo: {{paciente.sexo}} </p>
                <!-- <p>Médico: {{medico}} </p> -->
            </div>

            <div class="col-md">
                <p>Fecha: {{fecha}} {{hora}} </p>
                <p>Registro: {{paciente.registro}} </p>
                <p>Dirección: {{paciente.direccion}} </p>
            </div>

            <div class="col-md">
                <p>Folio: 000000001</p>
            </div>

            <div class="col-md-12 center row">
                <p>=============================================================================================================</p>
                <!-- <h2>Posología:</h2> -->
                <button class="btn btn-primary btn-reverso" data-toggle="modal" data-target="#reversoReceta">Reverso Receta</button>
                <button type="button" class="btn btn-success buttons" data-toggle="modal" data-target="#medicamentoModal">Ingresar Medicamento</button>

                <div id="medicamentoModal" class="modal fade bd-example-modal-lg center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content modal-medicamento">
                            <div class="modal-header">
                                <h3 class="modal-title center">Registro Nuevo Medicamento:</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="nombreComercial">Nombre Comercial:</label>
                                    <input type="text" class="inputStyle inModalS" style="
                                    margin: -2rem 0 2rem 0;">
                                </div>
                                <div class="col-md-4">
                                    <label for="sustamciaActiva">Sustancia Activa:</label>
                                    <input type="text" class="inputStyle inModalS" style="
                                    margin: -2rem 0 2rem 0;">
                                </div>
                                <div class="col-md-4">
                                    <label for="presentacion">Presentación:</label>
                                    <input type="text" class="inputStyle inModalS" style="
                                    margin: -2rem 0 2rem 0;">
                                </div>
                                <div class="col-md-4">
                                    <label for="contenido">Contenido del frasco:</label>
                                    <input type="text" class="inputStyle inModalS" style="
                                    margin: -2rem 0 2rem 0;">
                                </div>
                                <div class="col-md-4">
                                    <label for="viaAdmon">Vía de Administración:</label>
                                    <input type="text" class="inputStyle inModalS" style="
                                    margin: -2rem 0 2rem 0;">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- Receta -->
                <div id="reversoReceta" class="modal fade bd-example-modal-lg center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content modal-medicamento">
                            <div class="modal-header">
                                <h3 class="modal-title center">Receta:</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="">

                                <textarea id="" cols="130" rows="20" class="txt-area" placeholder="-- Dale vuelo a la hilacha xd --"></textarea>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>

                        </div>
                    </div>
                </div>



                <h2 class="col-md-12">Medicamentos: </h2>
                <div class="col-md-12">
                    <input type="text" class="inputStyle inputMedicamento" placeholder="1.- Teclee Medicamento...">
                    <textarea class="txt-area" name="" id="" cols="74" rows="1" autocomplete="on" placeholder=" -- Indicaciones --"></textarea>
                </div>

                <div class="col-md-12">
                    <input type="text" class="inputStyle inputMedicamento" placeholder="2.- Teclee Medicamento...">
                    <textarea class="txt-area" name="" id="" cols="74" rows="1" autocomplete="on" placeholder=" -- Indicaciones --"></textarea>
                </div>

                <div class="col-md-12">
                    <input type="text" class="inputStyle inputMedicamento" placeholder="3.- Teclee Medicamento...">
                    <textarea class="txt-area" name="" id="" cols="74" rows="1" autocomplete="on" placeholder=" -- Indicaciones --"></textarea>
                </div>

                <div class="col-md-12">
                    <input type="text" class="inputStyle inputMedicamento" placeholder="4.- Teclee Medicamento...">
                    <textarea class="txt-area" name="" id="" cols="74" rows="1" autocomplete="on" placeholder=" -- Indicaciones --"></textarea>
                </div>

                <div class="col-md-12">
                    <input type="text" class="inputStyle inputMedicamento" placeholder="5.- Teclee Medicamento...">
                    <textarea class="txt-area" name="" id="" cols="74" rows="1" autocomplete="on" placeholder=" -- Indicaciones --"></textarea>
                </div>

                <!-- <div class="col-md-12">
                    <input type="text" class="inputStyle inputMedicamento" placeholder="6.- Teclee Medicamento...">
                    <textarea class="txt-area" name="" id="" cols="74" rows="1" autocomplete="on" placeholder=" -- Indicaciones --"></textarea>
                </div> -->

                <!-- <textarea class="txt-area" name="" id="" cols="90" rows="10" autocomplete="on"></textarea> -->
                <p>=============================================================================================================</p>
            </div>

            <div class="col-md">
                <h5>Médico: {{medico}} </h5>
                <h5>Grado: Médico Especialista</h5>
            </div>

            <div class="col-md">
                <h5>Cédula(s): 123456</h5>
                <h5>Firma E.:</h5>
            </div>

            <div class="col-md">
                <button class="btn btn-primary">Guardar Consulta</button>
                <button class="btn btn-info buttons">Imprimir Receta</button>
            </div>



        </div>
    </div>
</div>