<div class="containerxd">
    <div class="container head-container">
        <h1 class="center">Hoja de Ingreso Hospitalario</h1>
        <div class="row">
            <div class="col-md">
                <p>Nombre Completo: </p>
                <p>Edad: </p>
                <p>Sexo: </p>
                <p>Médico: </p>
            </div>

            <div class="col-md">
                <p>Registro: </p>
                <p>Dirección: </p>
            </div>
        </div>
    </div>
    <div class="container body-left">
        <div class="row">
            <div class="col-md">
                <p>Fecha: <span> </span></p>
                <p>Hora: <span>  </span></p>

                <h4>Signos Vitales: </h4>
                <p>Talla: <span>  m </span> <i class="fas fa-chart-bar"></i> </p>
                <p>Peso: <span>  Kg </span> <i class="fas fa-chart-bar"></i></p>
                <p>IMC: <span>  P/T^2 </span> <i class="fas fa-chart-bar"></i></p>
                <p>FC: <span>  LPM </span> <i class="fas fa-chart-bar"></i></p>
                <p>FR: <span>  RPM </span> <i class="fas fa-chart-bar"></i></p>
                <p>TEMP: <span>  °C </span> <i class="fas fa-chart-bar"></i></p>
                <p>P.C.: <span>  cm </span> <i class="fas fa-chart-bar"></i></p>
                <p>P.A.: <span>  cm </span> <i class="fas fa-chart-bar"></i></p>
                <p>P.T.: <span>  cm </span> <i class="fas fa-chart-bar"></i></p>
                <p>APGAR: <span> </span> <i class="fas fa-chart-bar"></i></p>
                <p>SaO: <span> % </span> <i class="fas fa-chart-bar"></i></p>
                <span>=========================</span>
                <h4>Alergias</h4>
                <p> <span>  </span></p>
                <span>=========================</span>
                <h4>Paquetes</h4>
                <p>............</p>
            </div>

        </div>
    </div>
    <div class="container body-r">
        <div class="row">
            <div class="col-md">
                <h2 class="center">Evolución</h2>
                <div class="txt-area">
                    <textarea name="" id="" cols="75" rows="15"></textarea>
                </div>
                <span>==================================================================</span>
                <h4>Diagóstico CID-10:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>
                <h4>Diagóstico CID-10:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>
                <h4>Diagóstico CID-10:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>
                <span>==================================================================</span>
                <h4>Plan:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>

                <div class="botones-he">
                    <button class="btn btn-primary">Ambulatorio</button>
                    <button class="btn btn-primary">Ingreso a Hospital</button>
                </div>
                <span>==================================================================</span>
                <h4>Motivo de Ingreso:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>
                <span>==================================================================</span>
                <h5>Doctor: </h5>
                <h5>Grado: </h5>
                <h5>Cédulas: </h5>
                <h5>Firma E.:</h5>
            </div>
        </div>
    </div>
</div>