<div class="">
    <h1>Ficha Enfermería</h1>
</div>
<div class="der">
    <h2>DD / MMM / AAAA</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>Nombre Completo:</p>
            <p>Domicilio:</p>
            <p>Lugar de Nacimiento:</p>
        </div>
        <div class="col-sm">
            <p>Fecha de Nacimiento:</p>
            <p>Telefono:</p>
            <p>Tipo de Sangre:</p>
            <!-- Agregar select con los tipos de Sangre mas comunes -->
        </div>
        <div class="col-sm">
            <p>Edad:</p>
        </div>
    </div>

    <div class="col-md-3">
        <select name="edades" class="form-control">
            <option value="value1" selected>Niños (as) 0 - 9 Años</option> 
            <option value="value2">Mujeres 10 - 60+ Años</option>
            <option value="value3">Hombres 10 - 60+ Años</option>

            <!-- Cambiar edades, Hombres de 10 a 99 años
                Mujeres de 10 a 99 años, agregando parametros especiales -->
        </select>
    </div><br> <br>

    <div class="derxd">
        <p>¿Cuenta con esquema de Vacunación?</p>

        <input type="radio" id="" name="si" value="si">
        <label for="si">Sí</label>
        <input type="radio" id="" name="no" value="no">
        <label for="no">No</label>
    </div>

    <p>Somatometría y signos vitales por primera vez</p>
    <div class="row center">
        <div class="col-md-1">
            <input type="text" placeholder="Talla">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="Peso">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="IMC">
            <!-- Crear en base P/T ^ 2, debe ser por defecto -->
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="FC">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="FR">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="TEMP">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="TAMIZ">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="P.C.">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="P.A.">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="P.T.">
        </div>
        <div class="col-md-1">
            <input type="text" placeholder="SaOr">
        </div>
    </div><br><br>

    <!-- INICIO BOTONES MODALES -->
    <!-- Antecedentes por medio del Modal -->
    <div class="botones center">
        <button id="btn1" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Antecedentes</button>
        <!-- Button Signos Vitales -->
        <button id="btn2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">Signos Vitales</button>
        <!-- Button Signos Vitales -->
        <button id="btn3" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">Esquema de Vacunación</button>
        <!-- Button Nutrición -->
        <button id="btn4" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal4">Nutrición</button>
    </div>
    <!-- FIN BOTONES MODALES -->



    <!-- INICIO MODALES -->

    <div id="modal1" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title center">Antecedentes</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-3">
                        <h5>Listado</h5>
                        <p>Enfermedades de la piel</p>
                        <p>Desnutrición</p>
                        <p>Obesidad</p>
                        <p>Defectos postulares</p>
                        <p>Fracturas</p>
                        <p>Hospitalizaciones</p>
                        <p>Transfuciones</p>
                        <p>Cardiopatias</p>
                        <p>Cirugias</p>
                        <p>Cancer/Leucemia</p>
                        <p>Alergias</p>
                        <p>VIH</p>
                    </div>
                    <div class="col-md-2">
                        <h5>Personales</h5>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2">
                        <h5>Fecha</h5>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <!-- Crear en base P/T ^ 2, debe ser por defecto -->
                    </div>
                    <div class="col-md-2">
                        <h5>Familiares</h5>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2">
                        <h5>Notas</h5>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>

    </div>
    <!-- End Modal Antecedentes -->


    <div id="modal2" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="signos-vitales" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-XL">
                <div class="modal-header">
                    <h3 id="signos-vitales" class="modal-title center">Signos Vitales</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-1 espacio-cols">
                        <h5>Fecha</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols">
                        <h5>FC</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                        <!-- Crear en base P/T ^ 1 espacio-cols, debe ser por defecto -->
                    </div>
                    <div class="col-md-1 espacio-cols">
                        <h5>FR</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols">
                        <h5>Temp</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols">
                        <h5>Talla</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols">
                        <h5>Peso</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols">
                        <h5>IMC</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols">
                        <h5>Notas</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                            <input type="text" placeholder="" class="antecedentes-inputs">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>

    </div>
    <!-- End Modal Signos Vitales -->

    <!-- Inicio Modal Esquema de Vacunación -->
    <div id="modal3" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="esquema-vacunacion" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title center">Esquema de Vacunación</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-3">
                        <h5>Listado</h5>
                        <p>BCG</p>
                        <p>Hepatitis B</p>
                        <p>Pentavalante</p>
                        <p>DPT</p>
                        <p>Rotavirus</p>
                        <p>Neumococo</p>
                        <p>Influenza</p>
                        <p>SRC</p>
                        <p>Sabin</p>
                        <p>SRP</p>
                        <p>Otras Vacunas</p>

                    </div>
                    <div class="col-md-3">
                        <h5>Enf. Previene</h5>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2">
                        <h5>Dosis</h5>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <!-- Crear en base P/T ^ 2, debe ser por defecto -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>

    </div>
    <!-- End Modal Esquema de Vacunación -->

    <!-- Inicio Modal Nutrición -->
    <div id="modal4" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="nutricion" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-XL modalNutricion">
                <div class="modal-header">
                    <h3 id="nutricion" class="modal-title center">Nutrición</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-1 espacio-cols esp-nutricion nutricion-esp">
                        <h5>Lista</h5>
                        <div class="margen-input">
                            <p>Alimentate Sanamente</p>
                            <p>Desparacitación Intestinal</p>
                            <p>Vitamina A</p>
                            <p>Hierro NCBP</p>
                            <p>Hierro PP</p>
                            <p>Otros</p>
                        </div>
                    </div>
                    <div class="col-md-2 espacio-cols esp-nutricion">
                        <h5>Enf. Previene</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                        <!-- Crear en base P/T ^ 1 espacio-cols esp-nutricion, debe ser por defecto -->
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>1 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>2 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>3 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>4 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>5 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>6 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>Notas</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </div>
        <!-- End Modal Nutrición -->

    </div>