<div class="">
    <h1>Ficha Enfermería</h1>
</div>
<div class="der">
    <!-- <h2></h2> -->
    <h3>{{fecha}}</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>Nombre Completo: {{ paciente.nombre }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }} </p>
            <p>Domicilio: {{ paciente.domicilio }} </p>
            <p>Lugar de Nacimiento: {{ paciente.estadoPaciente }} </p>
        </div>
        <div class="col-sm">
            <p>Fecha de Nacimiento: {{ paciente.fechaNacimiento }} </p>
            <p>Telefono: {{ paciente.telefono }} </p>
            <p>Tipo de Sangre:</p>
            <select name="edades" class="form-control">
                <option value="Tipo" selected>-- Seleccione Tipo de Sangre --</option>
                <option value="AB+">AB+</option> 
                <option value="AB-">AB-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
               
    
                <!-- Cambiar edades, Hombres de 10 a 99 años
                    Mujeres de 10 a 99 años, agregando parametros especiales -->
            </select>
            <!-- Agregar select con los tipos de Sangre mas comunes -->
        </div>
        <div class="col-sm">
            <p>Edad: {{ paciente.edad }} </p>
        </div>
    </div> <br> <br>

    <!-- <div class="col-md-3">
        <select name="edades" class="form-control">
            <option value="value1" selected>Niños (as) 0 - 9 Años</option> 
            <option value="value2">Mujeres 10 - 60+ Años</option>
            <option value="value3">Hombres 10 - 60+ Años</option>

           
        </select>
    </div><br> <br> -->


    <div class="derxd">
        <p>¿Cuenta con esquema de Vacunación?</p>

        <input type="radio" id="" name="ev" [(ngModel)]="infPaciente.esquemaVacunacion" (change)="validar()" value="si">
        <label for="si">Sí</label>
        <input type="radio" id="" name="ev" [(ngModel)]="infPaciente.esquemaVacunacion" (change)="validar()" value="no">
        <label for="no">No</label> <br><br>

        <div class="col-md-3">
            <select name="esquemaVacunacionStatus" id="esquemaVacunacionStatus" class="form-control" *ngIf="infPaciente.esquemaVacunacion == 'si'">
                <option value="" selected>--Seleccione--</option>
                <option value="completo">Completo</option>
                <option value="incompleto">Incompleto</option>
            </select>
        </div>
    </div> <br><br>

    <p>Somatometría y signos vitales por primera vez</p>
    <div class="row center">
        <div class="col-md-1">
            <label for="">Talla m</label>
            <input type="text" placeholder="Talla M" [(ngModel)]="talla">
        </div>
        <div class="col-md-1">
            <label for="">Peso Kg</label>
            <input type="text" placeholder="Peso" [(ngModel)]="peso" (change)="obtenerIMC()">
        </div>
        <div class="col-md-1">
            <label for="">P/T^2</label>
            <input type="text" placeholder="IMC" [(ngModel)]="imc" [value]="imc">
            <!-- Crear en base P/T ^ 2, debe ser por defecto -->
        </div>
        <div class="col-md-1">
            <label for="">LPM</label>
            <input type="text" placeholder="FC">
        </div>
        <div class="col-md-1">
            <label for="">RPM</label>
            <input type="text" placeholder="FR">
        </div>
        <div class="col-md-1">
            <label for="">°C</label>
            <input type="text" placeholder="TEMP">
        </div>

        <div class="col-md-1">
            <label for="">PC cm</label>
            <input type="text" placeholder="P.C.">
        </div>
        <div class="col-md-1">
            <label for="">PA cm</label>
            <input type="text" placeholder="P.A.">
        </div>
        <div class="col-md-1">
            <label for="">PT cm</label>
            <input type="text" placeholder="P.T.">
        </div>
        <div class="col-md-1">
            <label for="">SaO %</label>
            <input type="text" placeholder="SaO">
        </div>
    </div><br><br>

    <!-- INICIO BOTONES MODALES -->
    <!-- Antecedentes por medio del Modal -->
    <div class="botones center">
        <button id="btn1" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Antecedentes</button>
        <!-- Button Signos Vitales -->
        <button id="btn2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">Signos Vitales</button>
        <!-- Button Signos Vitales -->
        <button id="btn3" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">Esquema de Vacunación</button>
        <!-- Button Nutrición -->
        <button id="btn4" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal4">Nutrición</button>
    </div>
    <!-- FIN BOTONES MODALES -->



    <!-- INICIO MODALES -->

    <div id="modal1" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title center">Antecedentes</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-2">
                        <h5>Listado</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Personales</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Fecha</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Familiares</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>Notas</h5>
                    </div>

                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Enfermedades de la Piel</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- Bloque 2 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Desnutrición</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 2 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Obesidad</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Defectos Postulares</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Fracturas</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Hospitalizaciones</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Transfusiones</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Cardiopatias</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Cirugias</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Cancer/Leucemia</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>Alergias</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <p>VIH</p>
                    </div>
                    <div class="col-md-2">

                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>

    </div>

    <!-- End Modal Antecedentes -->


    <div id="modal2" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="signos-vitales" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-XL">
                <div class="modal-header">
                    <h3 id="signos-vitales" class="modal-title center">Signos Vitales</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-1 margen-offset centerxdd">
                        <h5>Fecha</h5>
                    </div>
                    <div class="col-md-1 margen-offset centerxdd">
                        <h5>FC LPM</h5>
                    </div>
                    <div class="col-md-1 margen-offset centerxdd">
                        <h5>FR RPM</h5>
                    </div>
                    <div class="col-md-1 margen-offset centerxdd">
                        <h5>TEMP °C</h5>
                    </div>
                    <div class="col-md-1 margen-offset centerxdd">
                        <h5>Talla m</h5>
                    </div>
                    <div class="col-md-1 margen-offset centerxdd">
                        <h5>Peso Kg</h5>
                    </div>
                    <div class="col-md-1 margen-offset centerxdd">
                        <h5>IMC P/T^2</h5>
                    </div>
                    <div class="col-md-1">
                        <h5>Notas</h5>
                    </div>

                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" [placeholder]="fecha" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                    <!-- Bloque 3 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-1">

                        <input type="text" placeholder="" class="antecedentes-inputs margen-offset-2">
                    </div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>
                    <div class="col-md-1 margen-offset-2"><input type="text" placeholder="" class="antecedentes-inputs"></div>

                    <!-- End bloque 3 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="alerta()">Guardar</button>
                </div>
            </div>
        </div>

    </div>
    <!-- End Modal Signos Vitales -->

    <!-- Inicio Modal Esquema de Vacunación -->
    <div id="modal3" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="esquema-vacunacion" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-ext">
                <div class="modal-header">
                    <h3 class="modal-title center">Esquema de Vacunación</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-3 parrafos-enf">
                        <h5>Listado</h5>
                        <p>BCG</p>
                        <p>Hepatitis B</p>
                        <p>Pentavalante</p>
                        <p>DPT</p>
                        <p>Rotavirus</p>
                        <p>Neumococo</p>
                        <p>Influenza</p>
                        <p>SRC</p>
                        <p>Sabin</p>
                        <p>SRP</p>
                        <p>Otras Vacunas</p>

                    </div>
                    <div class="col-md-4 abajo-dosis">
                        <h5>.</h5>
                        <p>Tuberculosis</p>
                        <p>Difteria, Tosferina, Tétanos, Poliomielitis e Infecciones por H. Influenzae b</p>
                        <p>Difteria, Tosferina y Tétanos</p>
                        <p>Diarrea por Rotavirus</p>
                        <p>Infecciones por Neumococo</p>
                        <p>Influenza</p>
                        <p>Sarampión, Rubéola, Parotiditis</p>
                        <p>Poliomielitis</p>
                        <p>Sarampión y Rubéola</p>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                    </div>
                    <div class="col-md-2">
                        <h5>Dosis</h5>
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <input type="text" placeholder="" class="antecedentes-inputs">
                        <!-- Crear en base P/T ^ 2, debe ser por defecto -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>

    </div>
    <!-- End Modal Esquema de Vacunación -->

    <!-- Inicio Modal Nutrición -->
    <div id="modal4" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="nutricion" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-XL modalNutricion">
                <div class="modal-header">
                    <h3 id="nutricion" class="modal-title center">Nutrición</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row center">
                    <div class="col-md-1 espacio-cols esp-nutricion nutricion-esp">
                        <h5>Lista</h5>
                        <div class="margen-input">
                            <p>Alimentate Sanamente</p>
                            <p>Desparacitación Intestinal</p>
                            <p>Vitamina A</p>
                            <p>Hierro NCBP</p>
                            <p>Hierro PP</p>
                            <p>Otros</p>
                        </div>
                    </div>
                    <div class="col-md-2 espacio-cols esp-nutricion">
                        <h5>Enf. Previene</h5>
                        <div class="margen-input topsxd">
                            <!-- <input type="text" placeholder="" class="antecedentes-inputs wer">
                            p -->
                            <p>Desnutrición</p>
                            <p>Parasitosis Intestinales</p>
                            <p>Infecciones Respiratorias y Diarreas</p>
                            <p>Anemia</p>
                            <p>Anemia</p>
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                        <!-- Crear en base P/T ^ 1 espacio-cols esp-nutricion, debe ser por defecto -->
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>1 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>2 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>3 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>4 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>5 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>6 mes</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                    <div class="col-md-1 espacio-cols esp-nutricion">
                        <h5>Notas</h5>
                        <div class="margen-input">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">
                            <input type="text" placeholder="" class="antecedentes-inputs wer">

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-success" id="add_field" value="adicionar">Añadir</button>
                </div>
            </div>

        </div>
        <!-- End Modal Nutrición -->

    </div>
</div>

<!-- <script type="text/javascript">
    var campos_max = 10; //max de 10 campos

    var x = 0;
    $('#add_field').click(function(e) {
        console.log("cero");

        e.preventDefault(); //prevenir novos clicks
        if (x < campos_max) {
            console.log("uno");

            $('#listas').append('<div>\
                <input type="text" id="listas" placeholder="" class="antecedentes-inputs wer" name="campo[]">\
                        <a href="#" class="remover_campo">Remover</a>\
                        </div>');
            x++;
            console.log("dos");

        }
    });
    // Remover o div anterior
    $('#listas').on("click", ".remover_campo", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    });
</script> -->