<div class="row">
    <div class="col-md-12">
        <h2 class="center"> Nueva tomografia </h2>
    </div>
</div>

<form>
    <div class="card">


        <div class="row mt-3">

            <div class="col-md-4">
                <div class="form-group">

                    <input type="text" name="ESTUDIO" [(ngModel)]="infoServicio.ESTUDIO" id="nombre" placeholder="Nombre" class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">

                    <input type="text" name="indicaciones" [(ngModel)]="infoServicio.INDICACIONES" id="indicaciones" class="form-control" placeholder="Indicaciones">

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">


                    <input type="text" name="PRECIO_PUBLICO" [(ngModel)]="infoServicio.PRECIO_PUBLICO" id="precioPublico" class="form-control" placeholder="Precio publico">

                </div>
            </div>


            <div class="col-md-4">

                <div class="form-group">
                    <input type="text" name="PRECIO_MEMBRESIA" [(ngModel)]="infoServicio.PRECIO_MEMBRESIA" id="precioMembresia" class="form-control" placeholder="Precio membresia">
                </div>
            </div>

            <div class="col-md-4">
                <div class="for group">
                    <input type="text" name="PRECIO_PUBLICO_HOSPITALIZACION" [(ngModel)]="infoServicio.PRECIO_PUBLICO_HOSPITALIZACION" id="precioHospitalizacionPublico" class="form-control" placeholder="Precio hospitalizacion publico">
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" name="PRECIO_MEMBRESIA_HOSPITALIZACION" [(ngModel)]="infoServicio.PRECIO_MEMBRESIA_HOSPITALIZACION" id="precioHospitalizacionMembresia" class="form-control" placeholder="Precio hospitalizacion membresia">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" name="PRECIO_PUBLICO_URGENCIA" [(ngModel)]="infoServicio.PRECIO_PUBLICO_URGENCIA" id="precioUrgenciaPublico" class="form-control" placeholder="Precio urgencia publico">

                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" name="PRECIO_MEMBRESIA_URGENCIA" [(ngModel)]="infoServicio.PRECIO_MEMBRESIA_URGENCIA" id="precioUrgenciaMembresia" class="form-control" placeholder="Precio urgencia membresia">

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" name="PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA" [(ngModel)]="infoServicio.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA" id="precioHospitalizacionUrgenciaPublico" class="form-control" placeholder="Precio hospitalizacion urgencia publico">

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" name="PRECIO_MEMBRESIA_HOSPITALIZACION_URGENCIA" [(ngModel)]="infoServicio.PRECIO_MEMBRESIA_HOSPITALIZACION_URGENCIA" id="PRECIO_MEMBRESIA_HOSPITALIZACION_URGENCIA" class="form-control" placeholder="Precio hospitalizacion urgencia membresia">

                </div>
            </div>

        </div>
        <div class="row mb-4">
            <div class="col-md-4"></div>
            <div class="col-md-2">

                <button class="btn" id="boton_contra1" (click)="enviar()"> Guardar </button>
            </div>
            <div class="col-md-2">
                <button class="btn" id="boton_contra2"> Cancelar </button>
            </div>
            <div class="col-md-4"></div>


        </div>
    </div>
</form>