

    <!-- Content Wrapper -->



    
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow mr-auto">
              <div class="col-10">
                <a class="nav-link" [routerLink]="['/']">
                  <img src="../../../assets/images/dibujo-1.svg" width="150" height="150">
              </a>
              </div>
              <div class="col-2">
                <a  (click)="cerrarSesion()" >
                  <!-- <i class="fas fa-sign-out-alt fa-sm fa-fw"></i> -->
                  <h6 style="text-align: end;">CERRAR SESIÓN </h6>
                </a>
              </div>


            <!-- Topbar Navbar -->



          </nav>
          <!-- End of Topbar -->
