<div class="container-fluid" style="height: 40em;">
    <div class="row">
        <div class="col-md-12">


            <!-- INCIO DEL CARD -->

            <div class="card-columns">
                <div class="card">
                    <img src="../../../../assets/icons/drugsvg.svg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <button class="btn"> COMPRAR </button>

                    </div>
                </div>

                <!--FIN DEL CARD  -->

                <!-- INICIO CARD -->

                <div class="card">
                    <img src="../../../../assets/icons/medicine.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn"> ACTUALIZAR </button>
                    </div>
                </div>

                <!-- FIN CARD -->

                <!-- INICIO DEL CARD -->

                <div class="card" [routerLink="/">
                    <img src="../../../../assets/icons/pharmacy.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn"> AGREGAR </button>
                    </div>

                </div>

                <!-- INICIO CARD -->

                <div class="card">
                    <img src="../../../../assets/icons/prescription.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn"> CORTE DEL DÍA </button>
                    </div>
                </div>
                <!-- FIN DEL CARD -->

                <!-- INICIO CARD -->

                <div class="card">
                    <img src="../../../../assets/icons/prescription.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn"> ELIMINAR </button>
                    </div>

                </div>

                <!-- FIN DEL CARD -->

                <!-- INICIO CARD -->

                <div class="card">
                    <img src="../../../../assets/icons/pharmacy.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn"> INVENTARIO </button>
                    </div>

                    <!-- FIN DEL CARD -->




                </div>




            </div>
        </div>