<div class="containerxd">
    <div class="container head-container">
        <h1 class="center">Hoja de Evolución</h1>
        <div class="row">
            <div class="col-md">
                <p>Nombre Completo: {{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}} {{paciente.nombre}} </p>
                <p>Edad: {{paciente.edad}} </p>
                <p>Sexo: {{paciente.sexo}} </p>
                <p>Médico: </p>
            </div>

            <div class="col-md">
                <p>Registro: {{paciente.registro}} </p>
                <p>Dirección: {{paciente.direccion}} </p>
            </div>
        </div>
    </div>
    <div class="container body-left">
        <div class="row">
            <div class="col-md">
                <p>Fecha: <span> {{fecha}} </span></p>
                <p>Hora: <span> {{hora}} </span></p>

                <h4>Signos Vitales: </h4>
                <p>Talla: <span> {{paciente.talla}} m </span> </p>
                <p>Peso: <span> {{paciente.peso}} Kg </span></p>
                <p>IMC: <span> {{paciente.imc}} P/T^2 </span></p>
                <p>FC: <span> {{paciente.fc}} LPM </span></p>
                <p>FR: <span> {{paciente.fr}} RPM </span></p>
                <p>TEMP: <span> {{paciente.temp}} °C </span></p>
                <p>P.C.: <span> {{paciente.pc}} cm </span></p>
                <p>P.A.: <span> {{paciente.pa}} cm </span></p>
                <p>P.T.: <span> {{paciente.pa}} cm </span></p>
                <p>APGAR: <span> {{paciente.apgar}} </span></p>
                <p>SaO: <span> {{paciente.sao}} % </span></p>
                <span>=========================</span>
                <h4>Alergias</h4>
                <p> <span> {{paciente.alergias}} </span></p>
                <span>=========================</span>
                <h4>Paquetes</h4>
                <!-- <p> -->
                <pre>  {{paciente.paquetesQuirofano | json }} </pre>
                <!-- </p> -->

            </div>

        </div>
    </div>
    <div class="container body-r">
        <div class="row">
            <div class="col-md">
                <h2 class="center">Evolución</h2>
                <div class="txt-area">
                    <textarea name="" id="" cols="75" rows="15"></textarea>
                </div>
                <span>==================================================================</span>
                <h4>Diagóstico CID-10:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>
                <h4>Diagóstico CID-10:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>
                <h4>Diagóstico CID-10:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>
                <span>==================================================================</span>
                <h4>Plan:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>

                <div class="botones-he">
                    <button class="btn btn-primary">Ambulatorio</button>
                    <button class="btn btn-primary">Ingreso a Hospital</button>
                </div>
                <span>==================================================================</span>
                <h5>Doctor: </h5>
                <h5>Grado: </h5>
                <h5>Cédulas: </h5>
                <h5>Firma E.:</h5>
            </div>
        </div>
    </div>
</div>