<div class="containerxd">
    <div class="container head-container">
        <h1 class="center">Hoja de Evolución</h1>
        <div class="row">
            <div class="col-md">
                <p>Nombre Completo: {{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}} {{paciente.nombre}} </p>
                <p>Edad: {{paciente.edad}} </p>
                <p>Sexo: {{paciente.sexo}} </p>
                <p>Médico: </p>
            </div>

            <div class="col-md">
                <p>Registro: {{paciente.registro}} </p>
                <p>Dirección: {{paciente.direccion}} </p>
            </div>
        </div>
    </div>
    <div class="container body-left">
        <div class="row">
            <div class="col-md">
                <p>Fecha: <span> {{fecha}} </span></p>
                <p>Hora: <span> {{hora}} </span></p>

                <h4>Signos Vitales: </h4>
                <p>Talla: <span> {{paciente.talla}} m </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTallaNino"><i class="fas fa-chart-bar"></i></button></p>

                <div id="modalTallaNino" class="modal fade bd-example-modal-lg center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-grafica">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title center">Gráficas Talla:</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="flex">
                                <div class="flex-item center">
                                    <div style="display: block; height: 400px;">
                                        <canvas baseChart width="auto" height="auto" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <p>Peso: <span> {{paciente.peso}} Kg </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button></p>

                <div id="modalPesoNino" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-grafica">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title center">Gráficas Peso:</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="flex">
                                <div class="flex-item">
                                    <div style="display: block;">
                                        <canvas baseChart width="auto" height="auto" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <p>IMC: <span> {{paciente.imc}} P/T^2 </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>FC: <span> {{paciente.fc}} LPM </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>FR: <span> {{paciente.fr}} RPM </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>TEMP: <span> {{paciente.temp}} °C </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>P.C.: <span> {{paciente.pc}} cm </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>P.A.: <span> {{paciente.pa}} cm </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>P.T.: <span> {{paciente.pa}} cm </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>APGAR: <span> {{paciente.apgar}} </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>


                <p>SaO: <span> {{paciente.sao}} % </span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPesoNino"><i class="fas fa-chart-bar"></i></button> </p>
                <span>=========================</span>
                <h4>Alergias:</h4>
                <p> <span> {{paciente.alergias}} </span></p>
                <span>=========================</span>
                <h4>Paquetes:</h4>
                <!-- <p> -->
                <!-- <pre>  {{paciente.paquetesQuirofano | json }} </pre> -->
                <!-- </p> -->




            </div>

        </div>
    </div>
    <div class="container body-r">
        <div class="row">
            <div class="col-md">
                <h2 class="center">Evolución</h2>
                <div class="txt-area">
                    <textarea name="" id="" cols="75" rows="15"></textarea>
                </div>
                <span>==================================================================</span>
                <h4>Diagóstico CIE-10:</h4>
                <input class="inputStyle" type="text" [(ngModel)]="hojaEvolucion.diagnosticoUno" (keyup)="obtenerDiagnosticoUno()" name="" placeholder="Palabra clave...">
                <select class="selectStyle" name="" id="" style="
                width: auto;">
                    <option value="" *ngFor="let item of nameDiagnosticoUno"> {{item.NOMBRE}}</option>
                </select>
                <h4>Diagóstico CIE-10:</h4>
                <input class="inputStyle" type="text" [(ngModel)]="hojaEvolucion.diagnosticoDos" (keyup)="obtenerDiagnosticoDos()" name="" placeholder="Palabra clave...">
                <select class="selectStyle" name="" id="" style="width: auto;">
                    <option value="" *ngFor="let item of nameDiagnosticoDos"> {{item.NOMBRE}}</option>
                </select>
                <h4>Diagóstico CIE-10:</h4>
                <input class="inputStyle" type="text" [(ngModel)]="hojaEvolucion.diagnosticoTres" (keyup)="obtenerDiagnosticoTres()" name="" placeholder="Palabra clave...">
                <select class="selectStyle" name="" id="" style="width: auto;">
                    <option value="" *ngFor="let item of nameDiagnosticoTres"> {{item.NOMBRE}}</option>
                </select>
                <span>==================================================================</span>
                <h4>Plan:</h4>
                <textarea name="" id="" cols="75" rows="2"></textarea>

                <div class="botones-he">
                    <button class="btn btn-primary" [routerLink]="['/receta-medica', paciente.registro]" routerLinkActive="router-link-active">Ambulatorio</button>
                    <button class="btn btn-primary">Ingreso a Hospital</button>
                </div>
                <span>==================================================================</span>
                <h5>Doctor: </h5>
                <h5>Grado: </h5>
                <h5>Cédulas: </h5>
                <h5>Firma E.:</h5>
            </div>
        </div>
    </div>
</div>