<div class="arriba">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{page_title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #ambulanciaForm="ngForm" (ngSumbit)="onSubmit()">

                    <div class="form-group">
                        <label for="destino" class="col-form-label">Destino:</label>
                        <input type="text" name="DESTINO" #destino="ngModel" class="form-control" id="destino" [(ngModel)]="ambulanciaEdit.DESTINO" [value]="ambulanciaEdit.DESTINO" required>
                        <!-- 
                        <small *ngIf="!destino.valid && destino.touched">
                            El destino no es válido..
                        </small> -->

                        <!-- <input type="text" name="destino" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.destino">
                        -->

                    </div>
                    <div class="form-group">
                        <label for="precioDia" class="col-form-label">Precio  público día:</label>
                        <input type="text" name="PRECIODIA" #pDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulanciaEdit.PRECIO_PUBLICO_DIA" [value]="ambulanciaEdit.PRECIO_PUBLICO_DIA">


                    </div>
                    <div class="form-group">
                        <label for="precioRedondoDia" class="col-form-label">Precio público redondo día:</label>
                        <input type="text" name="PRECIO_PUBLICO_REDONDO_DIA" #pRDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulanciaEdit.PRECIO_PUBLICO_REDONDO_DIA" [value]="ambulanciaEdit.PRECIO_PUBLICO_REDONDO_DIA">

                    </div>
                    <div class="form-group">
                        <label for="precioNoche" class="col-form-label">Precio público noche:</label>
                        <input type="text" name="PRECIO_PUBLICO_NOCHE" #pNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulanciaEdit.PRECIO_PUBLICO_NOCHE" [value]="ambulanciaEdit.PRECIO_PUBLICO_NOCHE">

                    </div>
                    <div class="form-group">
                        <label for="precioRedondoNoche" class="col-form-label">Redondo público noche:</label>
                        <input type="text" name="PRECIO_PUBLICO_REDONDO_NOCHE" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="ambulanciaEdit.PRECIO_PUBLICO_REDONDO_NOCHE" [value]="ambulanciaEdit.PRECIO_PUBLICO_REDONDO_NOCHE">

                    </div>

                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_DIA"> Precio membresia día: </label>
                        <input type="text" name="PRECIO_MEMBRESIA_DIA" id="PRECIO_MEMBRESIA_DIA" class="form-control" placeholder="Precio de membresia día" [(ngModel)]="ambulanciaEdit.PRECIO_MEMBRESIA_DIA" [value]="ambulanciaEdit.PRECIO_MEMBRESIA_DIA">
                    </div>
                    <div class="form-group">


                        <label for="PRECIO_MEMBRESIA_REDONDO_DIA"> Precio membresia redondo día: </label>
                        <input type="text" name="PRECIO_MEMBRESIA_REDONDO_DIA" id="PRECIO_MEMBRESIA_REDONDO_DIA" class="form-control" placeholder="Precio de membresia día" [(ngModel)]="ambulanciaEdit.PRECIO_MEMBRESIA_REDONDO_DIA" [value]="ambulanciaEdit.PRECIO_MEMBRESIA_REDONDO_DIA">
                    </div>

                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_NOCHE"> Precio membresia noche: </label>
                        <input type="text" name="PRECIO_MEMBRESIA_NOCHE" id="PRECIO_MEMBRESIA_NOCHE" class="form-control" placeholder="Precio de membresia día" [(ngModel)]="ambulanciaEdit.PRECIO_MEMBRESIA_NOCHE" [value]="ambulanciaEdit.PRECIO_MEMBRESIA_NOCHE">
                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_REDONDO_NOCHE"> Precio membresia redondo noche: </label>
                        <input type="text" name="PRECIO_MEMBRESIA_REDONDO_NOCHE" id="PRECIO_MEMBRESIA_REDONDO_NOCHE" class="form-control" placeholder="Precio de membresia día" [(ngModel)]="ambulanciaEdit.PRECIO_MEMBRESIA_REDONDO_NOCHE" [value]="ambulanciaEdit.PRECIO_MEMBRESIA_REDONDO_NOCHE">

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button> -->
                <input type="submit" value="Guardar" class="btn btn-primary" (click)="onSubmit()">
            </div>
        </div>
    </div>
</div>