<h1 class="center">Agregar Consultas Generales</h1>
<div class="container">

    <div class="btnNuevo">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Nuevo</button>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Nueva Cita</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombrePacienteIdentificado" class="col-form-label">Paciente:   </label> {{ paciente.nombrePaciente }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}
                            <br>
                            <div class="containerFI">
                                <label for="curp"> CURP: {{ paciente.curp }}  </label>
                                <!-- <label for="id">    ID: {{ paciente.id }}   </label> -->
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Consultorio:</label>
                            <select class="selectStyle form-control" name="consultorioSelect" id="consultorioSelect" #consultorio (change)="seleccionarConsultprop( consultorio  )">
                                <option value="seleccionarConsultorio"   selected  >-- Seleccione Consultorio --</option>
                                <option value="consultorioUno">Consultorio 1</option>
                                <option value="consultorioDos">Consultorio 2</option>
                                <option value="consultorioTres">Consultorio 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Servicio:</label>
                            <select class="selectStyle form-control" #servicio (change)="selecccionarServicio( servicio)" name="servicioSelect" id="">
                                <option value="seleccionarConsultorio">-- Seleccione Servicio --</option>
                                <option value="Ambulacia">Ambulacia</option>
                                <option value="Endoscopia">Endoscopia</option>
                                <option value="ConsultaGeneral">Consulta General</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Motivo:</label>
                            <input type="text" class="form-control" id="recipient-name" #motivo (keydown)="motivoIngreso(motivo)">
                        </div>

                        <div class="row dupla center">
                            <div class="col-md">
                                <label for="">Fecha   de ingreso {{ fechaIngreso }}   </label>
                                <label for="hora">Hora:                                       {{ horaIngreso}}  </label>
                            </div>
                            <div class="col-md">
                                <label for="">Fecha de egreso</label>
                                <!-- <input type="date" class="form-control">
                                <label for="hora">Hora:</label>
                                <input class="timexD form-control" type="time"> -->
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nota:</label>
                            <textarea class="form-control" id="message-text" #nota (keyup)="notaEnfermera( nota )"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="enviar()">   Enviar </button>
                </div>
            </div>
        </div>
    </div>




    <div class="row center">
        <div class="cardxd">
            <div class="card bg-light consultorioxd mb-3" style="max-width: 18rem;">
                <div class="card-header">Consultorio</div>
                <div class="card-body">
                    <h2 class="card-title">1</h2>
                    <h5 class="card-text">Ficha: 23</h5>
                    <p class="card-text">Doctor: José Juan Patrón Guerrero</p>
                </div>
            </div>

            <div class="card bg-light consultorioxd mb-3" style="max-width: 18rem;">
                <div class="card-header">Consultorio</div>
                <div class="card-body">
                    <h2 class="card-title">2</h2>
                    <h5 class="card-text">Ficha: 23</h5>
                    <p class="card-text">Doctor: José Juan Patrón Guerrero</p>
                </div>
            </div>

            <div class="card bg-light consultorioxd mb-3" style="max-width: 18rem;">
                <div class="card-header">Consultorio</div>
                <div class="card-body">
                    <h2 class="card-title">3</h2>
                    <h5 class="card-text">Ficha: 23</h5>
                    <p class="card-text">Doctor: José Juan Patrón Guerrero</p>
                </div>
            </div>

        </div>
        <div class="centerxd">
            <h2 class="center tabla-header">sala de espera</h2>
            <table>
                <thead>
                    <tr>
                        <th>=============================</th>
                        <th>=============================</th>
                        <th>=============================</th>
                        <th>=============================</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Guillermo Urzúa Sánchez</td>
                        <td>Guillermo Urzúa Sánchez</td>
                        <td>Guillermo Urzúa Sánchez</td>
                        <td>Guillermo Urzúa Sánchez</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>