<h1 class="center"> CONSULTAS</h1>
<div class="row">
  <div class="col-6">
    <div class="card" id="card" style="margin-left: 5em;">
      <a [routerLink]="['/nuevo/']">
        <div class="card-body text-center">
          <img class="img-fluid cursor" src="../../../../assets/icons/serviciosIconos/blood-test.svg"  alt="card image">
          <h2 class="card-title" id="h2">CONSULTA MEDICINA GENERAL</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="col-6">
    <div class="card" id="card">
      <a [routerLink]="['/consulta/especialista']">
        <div class="card-body text-center">
          <img class="img-fluid cursor" src="../../../../assets/icons/serviciosIconos/laboratory_esp.svg"  alt="card image">
          <h2 class="card-title" id="h2"> CONSULTA CON MEDICO ESPECIALISTA</h2>
        </div>
      </a>
    </div>
  </div>
</div>
