<div class="container2">
    <!-- <img src="../../../assets/images/encabezado.jpg" class="img-fluid"> -->

    <!-- Queda pendiente el celular y el municipio -->
    <h3 class="center"> HOJA DE SOLICITUD </h3>

    <form class="formulario" class="container" #f="ngForm" (ngSubmit)="enviar( f )">

        <div class="row">

            <div class="offset-md-5"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <!--    -->
                    <input type="text" placeholder="VENDEDOR" disabled [value]="usuarioMaq.nombre" class="form-control" name="vendedor">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="number" placeholder="FOLIO" class="form-control" name="folio" ngModel>

                </div>
            </div>
            <div class="col-md-2">
                <p> FECHA: {{ fecha }} </p>

            </div>

        </div>
        <h5 class="center"> DATOS GENERALES </h5>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="NOMBRE" [value]="paciente.nombrePaciente" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="APELLIDO PATERNO" class="form-control" [value]="paciente.apellidoPaterno">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="APELLIDO MATERNO" class="form-control" [value]="paciente.apellidoMaterno">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- <label> FECHA DE NACIMIENTO: </label> -->
                <input type="date" class="form-control" [value]="paciente.fechaNacimientoPaciente">
            </div>

            <div class="col-md-2">
                <div class="form-group">

                    <input type="text" name="genero" id="genero" class="form-control" [value]="paciente.sexo">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">

                    <input type="number" placeholder="EDAD" name="EDAD" class="form-control" [value]="paciente.edad">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="NACIONALIDAD" [value]="paciente.paisNacimiento">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">

                    <select class="form-control" #paq (blur)="getPaquete( paq.value )">
    
                                <option  *ngFor="let paquete of paquetesDB"  [value]="paquete._id"  > 
                                    {{ paquete.nombrePaquete }}
                                </option>           
                    </select>

                </div>
            </div>
        </div>

        <h5 class="center"> DOMICILIO PARTICULAR </h5>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="CALLE Y NÚMERO" [value]="paciente.calleNumeroPaciente" name="calleNumeroPaciente">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="COLONIA" [value]="paciente.poblacion">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="MUNICIPIO" name="municipio" ngModel>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ESTADO" [value]="paciente.estadoPaciente">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="CÓDIGO POSTAL" [value]="paciente.cpPaciente">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="TELÉFONO FIJO" [value]="paciente.telefono">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="CELULAR" name="celular" ngModel>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="EMAIL" [value]="paciente.correo">
                </div>
            </div>
        </div>
        <h5 class="center"> DATOS ADICIONALES </h5>

        <div class="row">
            <div class="col-md-3">
                <p> CONTACTO DE EMERGANCIA 1 </p>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="NOMBRE COMPLETO" [value]="paciente.contactoEmergancia1">
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">

                    <select class="form-control" (change)="validarSelect( parentesco1)" name="paretesco1"> 
   
                <option>    PARENTESCO  </option>
                <option value="abuelos" >    ABUELOS     </option>
                <option value="padres" >     PADRES      </option>
                <option  value="hermanos">   HERMANOS    </option>
                <option  value="tios">       TIOS        </option>
                <option value="otros">       OTROS       </option>
                <option value="tutor" >      TUTOR       </option>
            
        </select>


                    <!-- <input type="text" class="form-control" name="parentesco1" id="parentesco1" placeholder="Parentesco" [value]="paciente.contactoEmergancia1"> -->

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" placeholder="TELÉFONO" class="form-control" [value]="paciente.telefonoContactoEmergencia1">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <p> CONTACTO DE EMERGANCIA 2 </p>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" name="contactoEmergencia2" [(ngModel)]="contactoEmergencia2" class="form-control" placeholder="NOMBRE COMPLETO">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" (change)="validarSelect( parentesco2 )" name="paretesco2" [(ngModel)]="parentesco2"> 
                <optgroup>
                    <option selected  >    PARENTESCO  </option>

                    <option value="abuelos" >    ABUELOS     </option>
                    <option value="padres" >     PADRES      </option>
                    <option  value="hermanos">   HERMANOS    </option>
                    <option  value="tios">       TIOS        </option>
                    <option value="otros">       OTROS       </option>
                    <option value="tutor" >      TUTOR       </option>
                </optgroup>
                
                
            </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" placeholder="TELÉFONO" name="telefonoEmergencia2" ngModel class="form-control">
                </div>
            </div>
        </div>

        <h5 class="center"> DOMICILIO FISCAL </h5>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text" placeholder="NOMBRE O RAZÓN SOCIAL" [value]="paciente.nombreRazonSocial" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" placeholder="RFC" class="form-control" [value]="paciente.RFCFiscal">
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" placeholder="CALLLE Y NÚMERO" name="calleYnumeroFiscal" ngModel class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" placeholder="COLONIA" class="form-control" [value]="paciente.coloniaFiscal">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" placeholder="C.P." class="form-control" [value]="paciente.cpFiscal">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="MUNICIPIO" [value]="paciente.localidadFiscal">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ESTADO" [value]="paciente.entidadFederativa">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="TELÉFONO" name="telefonFiscal" ngModel>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="EMAIL" [value]="paciente.emailFiscal">
                </div>
            </div>

        </div>
        <h5 class="center servicio"> COSTO DEL SERVICIO </h5>
        <div class="row">
            <div class="col-md-3">
                <p> COSTO DEL PAQUETE </p>
            </div>
            <div class="col-md-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control  input-paquete" min="0" disabled name="costoToal" [value]="paqueteSelected.costoTotal">
                    <div class="input-group-append ">
                        <span class="input-group-text"> M.N. </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" disabled name="atendio" [value]="usuarioMaq.nombre" placeholder="ATENDIÓ">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <p> ANTICIPO </p>
            </div>
            <div class="col-md-3">

                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control input-paquete" min="0" disabled name="anticipo" ngModel [value]="anticipo">
                    <div class="input-group-append ">
                        <span class="input-group-text"> M.N. </span>
                    </div>
                </div>
                <!-- <div class="input-group-prepend">

                    <input disabled type="text" class="form-control input-paquete">

                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <input type="submit" class="btn btn-block btn-success" value="AÑADIR PAQUETE">
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-block btn-danger" (click)="cancelarPaq()"> 
                     CANCELAR 
                </button>
            </div>
        </div>
    </form>


</div>