h3{
    font-size: 2rem;
    font-weight: 700;
}

.formulario{
    margin-top: 3%;
}

.center{
    text-align: center;
}

.input-group-text,
.input-paquete{
    border-radius: 0;
}

.btn-success, .btn-danger{
    margin: 3% 0 2%;
    font-size: 2rem;
}

.servicio{
    margin-bottom: 2%;
}


.container2{
    height: 45rem;
}