<div class="containeer">
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">Servicios Integrados</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/car.svg" alt="card image" [routerLink]="['/ambulanciaSI']" routerLinkActive="router-link-active" style="cursor: pointer;"></p>
                                        <h4 class="card-title">Ambulancia</h4>
                                        <!-- <p class="card-text">Leer más...</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/ambulanciaSI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/researcher.svg" alt="card image"></p>
                                        <h4 class="card-title">Consulta con Especialista</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/consulta-Especialista-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/doctor.svg" alt="card image"></p>
                                        <h4 class="card-title">Consulta médica General</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/consulta-medica-general-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/endoscopy.svg" alt="card image"></p>
                                        <h4 class="card-title">Endoscopia</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/endoscopia-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/checklist.svg" alt="card image"></p>
                                        <h4 class="card-title">Entrega de Resultados</h4>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/entrega-resultados-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/drug.svg" alt="card image"></p>
                                        <h4 class="card-title">Farmacia</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/farmacia-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/hospital-bed.svg" alt="card image"></p>
                                        <h4 class="card-title">Hospitalización</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/hospitalizacion-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/chemistry.svg" alt="card image"></p>
                                        <h4 class="card-title">Laboratorio</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/laboratorio-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/surgery-room.svg" alt="card image"></p>
                                        <h4 class="card-title">Quirofano</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/quirofano-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/skeleton.svg" alt="card image"></p>
                                        <h4 class="card-title">Rayos X</h4>
                                        <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                        <button type="button" class="btn btn-primary" [routerLink]="['/xray-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/mri.svg" alt="card image"></p>
                                        <h4 class="card-title">Resonancia</h4>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/resonancia-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/x-ray.svg" alt="card image"></p>
                                        <h4 class="card-title">Tomografia</h4>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/tomografia-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/relations.svg" alt="card image"></p>
                                        <h4 class="card-title">Trabajo Social</h4>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/trabajo-social-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/womb.svg" alt="card image"></p>
                                        <h4 class="card-title">Ultrasonido</h4>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/ultrasonido-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/emergency.svg" alt="card image"></p>
                                        <h4 class="card-title">Urgencias</h4>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/urgencias-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="../../../assets/icons/serviciosIconos/options.svg" alt="card image"></p>
                                        <h4 class="card-title">Otros Servicios</h4>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/otros-servicios-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->

            </div>
        </div>
    </section>
</div>