.cursor {
    cursor: pointer;
}
#card{
    margin: 1em;
    border-radius: 3em;
    border-radius: 2em;
    box-shadow: 7px 7px 44px -8px rgba(0, 22, 114, 0.9);
}
#h2{
color: #001672;
text-align: center;
font-weight: bold;
margin-top: 10px;
font-size: 2em;
}
a {
  color: white !important ;
}
