<div class="containeer">
    <section id="team" class="pb-5">
        <div class="container">
            <!-- <h5 class="section-title h1">Servicios Integrados</h5> -->
        <div class="row">
          <div class="col-md-3">
            <div class="card" id="card">
              <a [routerLink]="['/ambulancia']">
                <div class="card-body text-center">
                  <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/car.svg" alt="card image">
                  <h2 class="card-title" id="h2">AMBULANCIA</h2>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" id="card">
              <a [routerLink]="['/consulta-Especialista']">
                <div class="card-body text-center">
                  <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/researcher.svg" alt="card image">
                  <h2 class="card-title" id="h2">ESPECIALISTA</h2>
                </div>
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid cursor" src="../../../assets/icons/serviciosIconos/researcher.svg" alt="card image"></p>
                                <h4 class="card-title">Consulta con Especialista</h4>
                                <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                <button type="button" class="btn btn-primary" [routerLink]="['/consulta-Especialista-SI']" routerLinkActive="router-link-active">Ver Servicio</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid cursor" src="../../../assets/icons/serviciosIconos/stethoscope.svg" alt="card image"></p>
                                <h4 class="card-title">Consulta médica General</h4>
                                <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                <button type="button" class="btn btn-primary" [routerLink]="['/medicina/general']" routerLinkActive="router-link-active">Ver Servicio</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid cursor" src="../../../assets/icons/serviciosIconos/endoscopy.svg" alt="card image" [routerLink]="['/endoscopia']"></p>
                                <h4 class="card-title">Endoscopia</h4>
                                <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                <button type="button" class="btn btn-primary" [routerLink]="['/endoscopia']" routerLinkActive="router-link-active">Ver Servicio</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">

        </div>
        </div>
    </section>
</div>
