
        <div class="containeer">
          <section id="team">
            <div class="container animate bounceIn">
              <div class="card-columns">
                <div class="card" id="card">
                  <a [routerLink]="['/ambulancia']">
                    <div class="card-body text-center">
                      <img class="cursor" id="img2" src="../../../assets/icons/serviciosIconos/car.svg"  alt="card image">
                      <h2 class="card-title" id="h2">AMBULANCIA</h2>
                    </div>
                  </a>
                </div>
                <div class="card" id="card">
                  <a [routerLink]="['/consulta-Especialista']">
                    <div class="card-body text-center">
                      <img class="cursor" id="img2" src="../../../assets/icons/serviciosIconos/researcher.svg" alt="card image">
                      <h2 class="card-title" id="h2">ESPECIALISTA</h2>
                    </div>
                  </a>
                </div>
                <div class="card" id="card">
                  <a [routerLink]="['/medicina/general']">
                    <div class="card-body text-center">
                      <img class="cursor" id="img2" src="../../../assets/icons/serviciosIconos/doctor.svg" alt="card image">
                      <h2 class="card-title" id="h2">CONSULTA</h2>
                    </div>
                  </a>
                </div>
                <div class="card" id="card">
                  <a [routerLink]="['/endoscopia']">
                    <div class="card-body text-center">
                      <img class="cursor" id="img2" src="../../../assets/icons/serviciosIconos/endoscopy.svg" alt="card image">
                      <h2 class="card-title" id="h2">ENDOSCOPIA</h2>
                    </div>
                  </a>
                </div>
                <div class="card" id="card">
                  <a [routerLink]="['/hospitalizacion']">
                    <div class="card-body text-center">
                      <img class="cursor" id="img2" src="../../../assets/icons/serviciosIconos/hospital-bed.svg" alt="card image">
                      <h2 class="card-title" id="h2">HOSPITALIZACION</h2>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/entrega-resultados']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/checklist.svg" alt="card image">
                        <h2 class="card-title" id="h2">RESULTADOS</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/farmacia']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/drug.svg" alt="card image">
                        <h2 class="card-title" id="h2">FARMACIA</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/hospitalizacion']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/hospital-bed.svg" alt="card image">
                        <h2 class="card-title" id="h2">HOSPITALIZACION</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/laboratorio']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/chemistry.svg" alt="card image">
                        <h2 class="card-title" id="h2">LABORATORIO</h2>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/quirofano']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/surgery-room.svg" alt="card image">
                        <h2 class="card-title" id="h2">QUIROFANO</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/patologia']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/microscope.svg" alt="card image">
                        <h2 class="card-title" id="h2">PATOLOGIA</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/xray']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/skeleton.svg" alt="card image">
                        <h2 class="card-title" id="h2">RAYOS-X</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/resonancia']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/mri.svg" alt="card image">
                        <h2 class="card-title" id="h2">RESONANCIA</h2>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/tomografia']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/x-ray.svg" alt="card image">
                        <h2 class="card-title" id="h2">TOMOGRAFIA</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/trabajo-social']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/relations.svg" alt="card image">
                        <h2 class="card-title" id="h2">TRABAJO SOCIAL</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/ultrasonido']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/womb.svg" alt="card image">
                        <h2 class="card-title" id="h2">ULTRASONIDO</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/urgencias']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/emergency.svg" alt="card image">
                        <h2 class="card-title" id="h2">URGENCIA</h2>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="card" id="card">
                    <a [routerLink]="['/otros-servicios']">
                      <div class="card-body text-center">
                        <img class="img-fluid cursor" src="../../../assets/icons/serviciosIconos/options.svg" alt="card image">
                        <h2 class="card-title" id="h2">OTROS SERVICIOS</h2>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
