img {
    max-width: 32%;
    margin-bottom: -29rem;
}

.global {
    margin: 0 auto;
    max-width: 65rem;
    // border: 1px solid;
}

.cuadros img {
    max-width: 50%;
    margin-bottom: -54rem;
    margin-left: 58rem;
}

.center {
    margin-top: 10rem;
}

.centerxd {
    margin: 0 auto;
    margin-left: 5rem;
}