// img {
//     max-width: 32%;
//     margin-bottom: -29rem;
// }
.cuadros-logo {
    width: 40%;
}

.centerxd {
    margin: 0 auto;
    margin-left: 5rem;
}

button {
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: 100;
}

.fa-file-pdf {
    margin-right: 1.6rem;
}