<button class="btn btn-primary" (click)="imprimir()">Imprimir Contrato</button>

<div class="centerxd" id="imprimirxd">
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p style="text-align: center;"><strong>CONTRATO DE PAQUETE DE MATERNIDAD</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong><strong>&Iacute;NDICE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&Aacute;GINA</strong></p>
    <p>
        <a name="_Toc31897171"></a>Contenido</p>
    <p><a href="#_Toc31897171">Contenido. 2</a></p>
    <p><a href="#_Toc31897172">PRESENTACION.. 2</a></p>
    <p><a href="#_Toc31897173">QUE INCLUYE EL PAQUETE DE MATERNIDAD.. 3</a></p>
    <p><a href="#_Toc31897174">QUE NO INCLUYE EL PAQUETE DE MATERNIDAD.. 4</a></p>
    <p><a href="#_Toc31897175">SERVICIOS COMPARATIVOS.. 5</a></p>
    <p><a href="#_Toc31897176">CLAUSULAS.. 5</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <a name="_Toc31897172"></a>PRESENTACION</p>
    <p>MISI&Oacute;N</p>
    <p>Proporcionar atenci&oacute;n medica eficiente, eficaz e innovadora basada en el conocimiento y entrega de nuestro personal. Estamos concentrados en resolver las necesidades de nuestros pacientes, su familia y entorno; brindando calidez, confianza
        y trato digno.
    </p>
    <p>VISI&Oacute;N</p>
    <p>Para el a&ntilde;o 2022, Ser la Instituci&oacute;n M&eacute;dica privada de mayor prestigio y seguridad en el estado de Morelos y estados aleda&ntilde;os, mediante la certificaci&oacute;n por el Consejo de Salubridad General e ISO.</p>
    <p>QUIENES SOMOS</p>
    <p>Grupo M&eacute;dico Horizonte es un corporativo con experiencia, innovaci&oacute;n y compromiso con la calidad de nuestros servicios. Nuestra labor se fundamenta en pilares s&oacute;lidos como capacitaci&oacute;n, eficacia, eficiencia, competitividad,
        evoluci&oacute;n, empat&iacute;a y honestidad con el fin de una mejora continua en la gesti&oacute;n de nuestros servicios.</p>
    <p>&nbsp;</p>
    <p>OBJETIVOS</p>
    <ol>
        <li>Identificar la situaci&oacute;n de las mujeres del Oriente del Estado de Morelos con relaci&oacute;n a embarazo y natalidad.</li>
        <li>Contribuir a la disminuci&oacute;n de la Mortalidad Materna y neonatal de las pacientes que acuden a nuestras unidades de salud</li>
        <li>Ofrecer los paquetes de maternidad de acuerdo con el Perfil social y econ&oacute;mico de las mujeres del Oriente del Estado de Morelos, Estado de M&eacute;xico y Ciudad de M&eacute;xico.</li>
        <li>Cumplir con la normatividad vigente con relaci&oacute;n a maternidad.</li>
        <li>Continuar con el desarrollo y adquisici&oacute;n de infraestructura para atenci&oacute;n obst&eacute;trica y neonatal.</li>
        <li>Representar una propuesta m&eacute;dica, econ&oacute;micamente accesible, organizada y confiable, orientada a la maternidad de nuestra zona de cobertura.</li>
    </ol>
    <p>&nbsp;</p>
    <p>
        <a name="_Toc31897173"></a>QUE INCLUYE EL PAQUETE DE MATERNIDAD</p>
    <ol>
        <li>5 consultas programadas con especialista en Ginecolog&iacute;a y Obstetricia.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="2">
        <li>5 Ultrasonidos Obst&eacute;tricos</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="3">
        <li>9 ex&aacute;menes de laboratorio:</li>
    </ol>
    <p>&nbsp;</p>
    <p><em>-1 Biometr&iacute;a Hem&aacute;tica Completa</em></p>
    <p><em>&nbsp;</em></p>
    <p><em>-1 Qu&iacute;mica Sangu&iacute;nea 6 Elementos (<strong>Glucosa, Urea, Creatinina, &Aacute;cido &uacute;rico, colesterol y triglic&eacute;ridos</strong>)</em></p>
    <p><em>-2 examen General Orina</em></p>
    <p><em>-1 V.D.R.L.</em></p>
    <p><em>-1 V.I.H.</em></p>
    <p><em>-1 Grupo Sangu&iacute;neo (Tipo de Sangre)</em></p>
    <p><em>-1 Tiempos de Coagulaci&oacute;n</em></p>
    <p><em>&nbsp;</em></p>
    <p><em>-1 Curva de tolerancia a la glucosa</em></p>
    <p><em>&nbsp;</em></p>
    <ol start="4">
        <li>Consulta abierta a urgencias con medicina general las 24 horas.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="5">
        <li>Hospitalizaci&oacute;n en habitaci&oacute;n est&aacute;ndar durante y despu&eacute;s del parto o ces&aacute;rea.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="6">
        <li>Medicamento y material de curaci&oacute;n durante y despu&eacute;s del parto o ces&aacute;rea en la hospitalizaci&oacute;n.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="7">
        <li>Atenci&oacute;n del parto o Ces&aacute;rea, por especialista en Ginecolog&iacute;a y Obstetricia, Anestesista y Pediatra.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="8">
        <li>Consulta con medicina general una semana despu&eacute;s del parto o Ces&aacute;rea</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="9">
        <li>1 Traslado local.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="10">
        <li>Atenci&oacute;n del reci&eacute;n nacido durante el nacimiento por el m&eacute;dico especialista en Pediatr&iacute;a.</li>
        <li>Estancia del reci&eacute;n nacido conjunto en la habitaci&oacute;n de la madre.</li>
    </ol>
    <p>&nbsp;</p>
    <p>
        <a name="_Toc31897174"></a>QUE NO INCLUYE EL PAQUETE DE MATERNIDAD</p>
    <ol>
        <li>Todo aquello que no est&aacute; incluido en el paquete.</li>
        <li>Todos aquellos gastos generados a partir del egreso de nuestra unidad en caso de que la paciente o su producto sea trasladada.</li>
        <li>La posibilidad de pago extempor&aacute;neo de los servicios.</li>
        <li>La cobertura de complicaciones durante el embarazo.</li>
    </ol>
    <p><em>&nbsp;</em></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <a name="_Toc31897175"></a>SERVICIOS COMPARATIVOS</p>
    <table>
        <tbody>
            <tr>
                <td width="380">
                    <p><strong>CONCEPTO</strong></p>
                </td>
                <td width="100">
                    <p><strong>PRECIO PUBLICO</strong></p>
                </td>
                <td width="180">
                    <p><strong>PRECIO PAQUETE DE MATERNIDAD</strong></p>
                </td>
            </tr>
            <tr>
                <td width="380">
                    <p>Consulta con medicina general</p>
                </td>
                <td width="100">
                    <p>$ 102.00</p>
                </td>
                <td width="180">
                    <p>$ 0.00</p>
                </td>
            </tr>
            <tr>
                <td width="380">
                    <p>Consulta de especialidad con ginecolog&iacute;a y obstetricia</p>
                </td>
                <td width="100">
                    <p>$ 400.00</p>
                </td>
                <td width="180">
                    <p>$ 250.00</p>
                </td>
            </tr>
            <tr>
                <td width="380">
                    <p>Consulta de especialidad con pediatr&iacute;a</p>
                </td>
                <td width="100">
                    <p>$ 500.00</p>
                </td>
                <td width="180">
                    <p>$ 300.00</p>
                </td>
            </tr>
            <tr>
                <td width="380">
                    <p>Procedimiento quir&uacute;rgico (SOLO CESAREA)</p>
                </td>
                <td width="100">
                    <p>$ 14,500.00</p>
                </td>
                <td width="180">
                    <p>$ 14,500.00</p>
                </td>
            </tr>
            <tr>
                <td width="380">
                    <p>Ultrasonido Obst&eacute;trico</p>
                </td>
                <td width="100">
                    <p>$ 300.00</p>
                </td>
                <td width="180">
                    <p>$ 250.00</p>
                </td>
            </tr>
            <tr>
                <td width="380">
                    <p><strong>Laboratorios:</strong></p>
                    <p>1 Biometr&iacute;a hem&aacute;tica completa</p>
                    <p>1 Qu&iacute;mica sangu&iacute;nea de 6 elementos <strong><em>(Glucosa, Urea, Creatinina, &Aacute;cido &uacute;rico, colesterol y trigliceridos).</em></strong></p>
                    <p>1 Examen general de orina</p>
                    <p>1 V.D.R.L.</p>
                    <p>1 V.I.H.</p>
                    <p>1 Grupo sangu&iacute;neo <strong>(Tipo de sangre)</strong></p>
                    <p>1 Tiempos de coagulaci&oacute;n</p>
                    <p>1 Curva de tolerancia a la glucosa</p>
                </td>
                <td width="100">
                    <p>$ 1,535.00</p>
                </td>
                <td width="180">
                    <p>$ 1,152.00</p>
                </td>
            </tr>
            <tr>
                <td width="380">
                    <p>Traslado local</p>
                </td>
                <td width="100">
                    <p>$ 1,500.00</p>
                </td>
                <td width="180">
                    <p>$ 0.00</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>
        <a name="_Toc31897176"></a>CLAUSULAS</p>
    <ol>
        <li>Al momento de la contrataci&oacute;n se recabar&aacute;n datos administrativos y M&eacute;dicos a trav&eacute;s de los expedientes correspondientes bajo el resguardo de la empresa.</li>
        <li>A partir del expediente cl&iacute;nico se generan recetas m&eacute;dicas de cada consulta que incluyen indicaciones generales y son proporcionadas por medicina general y medicina especializada con car&aacute;cter preventivo y personalizado a cada
            paciente a fin de ser objetivo y efectivo en las acciones en la maternidad. La responsabilidad en la decisi&oacute;n del momento en que estas se lleven a cabo queda a cargo de la paciente.</li>
        <li>A partir de la atenci&oacute;n m&eacute;dica general y especializada por Ginecolog&iacute;a y obstetricia se toman decisiones con relaci&oacute;n a los pasos a seguir en la atenci&oacute;n de cada paciente, estudios necesarios, tratamientos espec&iacute;ficos,
            etc. que ser&aacute;n notificados a la paciente y al familiar de manera clara para que as&iacute;, acepten o no la realizaci&oacute;n de los mismos. Se notificar&aacute; el precio y los beneficios con relaci&oacute;n a la poblaci&oacute;n
            en general que no cuenta con el paquete de control prenatal.</li>
    </ol>
    <p>De lo anterior, resulta que s&iacute; acepta continuar con el proceso de atenci&oacute;n en nuestras instalaciones, se cubrir&aacute; en ese momento el presupuesto otorgado, lo cual autom&aacute;ticamente indica su consentimiento informado. Al contar
        nuevamente con los resultados se repite el apartado anterior, y as&iacute; sucesivamente hasta completar el tratamiento.</p>
    <ol start="4">
        <li>En los casos donde la paciente no acepte continuar con el proceso de atenci&oacute;n propuesto como lo dice el apartado anterior, se informara de los riesgos de su decisi&oacute;n y se pedir&aacute; que firme un consentimiento informado y alta
            voluntaria que se anexa al expediente cl&iacute;nico donde deja claro su negativa a lo propuesto.</li>
        <li>En aquellos casos donde la paciente cuenta con otro tipo de atenci&oacute;n m&eacute;dica (IMSS, ISSSTE, ETC) y que puede ser utilizado a su favor, el m&eacute;dico durante la atenci&oacute;n proporcionara sugerencias al respecto; por ej. El traslado
            a otra unidad m&eacute;dica con mayor capacidad de resoluci&oacute;n para un motivo en particular. Aplica tambi&eacute;n el apartado anterior.</li>
        <li>Para solicitar una consulta m&eacute;dica general, la paciente o familiar se presentar&aacute; o comunicar&aacute; v&iacute;a telef&oacute;nica a nuestra unidad m&eacute;dica donde se les proporcionar&aacute; en ese mismo d&iacute;a el horario
            m&aacute;s oportuno.
        </li>
        <li>En los casos de urgencia, se deber&aacute; llevar a la paciente de manera inmediata sin previa cita y siempre acompa&ntilde;ado de un familiar o un acompa&ntilde;ante como responsable legal.</li>
        <li>Las consultas de Ginecolog&iacute;a y Obstetricia ser&aacute;n programadas personalmente o v&iacute;a telef&oacute;nica. En los casos de urgencia, la paciente pasar&aacute; primero a valoraci&oacute;n de Medicina General quien tendr&aacute; contacto
            con Ginecolog&iacute;a para tomar acciones de acuerdo con el caso, de ser necesario, se valorar&aacute; en ese momento por el especialista.</li>
        <li>El servicio de ambulancia tiene un costo de acuerdo con un tabulador especial.</li>
        <li>En caso de requerir atenci&oacute;n por medicina especializada, los servicios y los medicamentos se sujetar&aacute;n al tabulador de membres&iacute;a que tiene mayores beneficios con relaci&oacute;n a los pacientes que no est&aacute;n en este
            programa.
        </li>
        <li>En los casos donde la paciente requiere alg&uacute;n procedimiento quir&uacute;rgico programado o urgente se proporcionar&aacute; un precio preferente y la informaci&oacute;n m&eacute;dica alrededor del padecimiento.</li>
        <li>Los usuarios del presente paquete podr&aacute;n obtener un beneficio econ&oacute;mico al momento de adquirir otros productos o paquetes para sus familiares.</li>
        <li>Todos los usuarios del presente paquete y sus familiares recibir&aacute;n informaci&oacute;n sobre el resto de nuestros paquetes y servicios a fin de salir beneficiados.</li>
        <li>Si la paciente que cuenta con el paquete de control prenatal continua su manejo m&eacute;dico, hospitalizaci&oacute;n o resoluci&oacute;n del embarazo actual en otra instituci&oacute;n, no habr&aacute; reembolso de los dep&oacute;sitos hechos
            hasta el momento del &uacute;ltimo pago que haya efectuado.</li>
        <li>El cumplimiento de las indicaciones m&eacute;dicas proporcionadas durante la atenci&oacute;n, son responsabilidad del usuario.</li>
        <li>El pago de los servicios que incluye el presente paquete de control prenatal se realizar&aacute; con un pago inicial de $1,500.00 (<u>Mil quinientos pesos 00/100mn</u>) al momento de la contrataci&oacute;n y, pagos semanales obligatorios hasta
            alcanzar la suma de <strong>$14,500.00</strong> que ser&aacute;n calculados de acuerdo con el n&uacute;mero de semanas restantes para llegar a la semana 38 del embarazo actual.</li>
        <li>La paciente se comprometer&aacute; a ir al corriente en sus pagos, de lo contrario, no podr&aacute; recibir la atenci&oacute;n m&eacute;dica o realizaci&oacute;n de estudios programados, quedando como responsable directa de las consecuencias m&eacute;dicas
            que esto pueda generar.</li>
        <li>En aquellos casos donde el estado m&eacute;dico de la paciente o el binomio amerite recibir atenci&oacute;n en otra unidad m&eacute;dica con mayor infraestructura o capacidad de resoluci&oacute;n, se informar&aacute; por parte del m&eacute;dico
            de manera clara el estado de salud y se le entregara una hoja de referencia medica que facilite lo anterior. Los gastos generados a partir de este momento corren por cuenta de la paciente.</li>
        <li>La factura se entregar&aacute; a la raz&oacute;n social proporcionada por la paciente.</li>
    </ol>
    <p>El esp&iacute;ritu del presente documento es generar una alternativa que contribuya al bienestar social a trav&eacute;s de la atenci&oacute;n m&eacute;dica en poblaciones vulnerables y, en todos aquellos que ya cuentan con un servicio, pero les resulta
        no conveniente bajo ciertas circunstancias.</p>
    <p>&nbsp;</p>
    <p style="text-align: center;">_____________________________________________________</p>
    <p style="text-align: center;">NOMBRE Y FIRMA DEL CONTRATANTE</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ____________________</p>
    <p style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vendedor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Testigo
    </p>
    <p>&nbsp;</p>
</div>