<div class="arriba">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Estudio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #xRayForm="ngForm" (ngSumbit)="onSubmit()">
                    <div class="form-group">
                        <label for="ESTUDIO" class="col-form-label">Nombre estudio:</label>
                        <input type="text" name="ESTUDIO" #estudio="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.ESTUDIO" [value]="xrayEdit.ESTUDIO">


                        <!-- <input type="text" name="destino" class="form-control" id="recipient-name" [(ngModel)]="ambulancia.destino"> -->
                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO" class="col-form-label">Precio Público:</label>
                        <input type="text" name="PRECIO_PUBLICO" #pDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_PUBLICO" [value]="xrayEdit.PRECIO_PUBLICO">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_HOSPITALIZACION" class="col-form-label">Precio Hospitalización Público</label>
                        <input type="text" name="PRECIO_PUBLICO_HOSPITALIZACION" #pRDia="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_PUBLICO_HOSPITALIZACION" [value]="xrayEdit.PRECIO_PUBLICO_HOSPITALIZACION">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_PUBLICO_URGENCIA" class="col-form-label">Precio Urgencia Público:</label>
                        <input type="text" name="PRECIO_PUBLICO_URGENCIA" #pNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_PUBLICO_URGENCIA" [value]="xrayEdit.PRECIO_PUBLICO_URGENCIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_HOSPITALIZACIO_URGENCIA" class="col-form-label">Precio Hospitalización Urgencia Público</label>
                        <input type="text" name="PRECIO_HOSPITALIZACIO_URGENCIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_HOSPITALIZACIO_URGENCIA" [value]="xrayEdit.PRECIO_HOSPITALIZACIO_URGENCIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA" class="col-form-label">Precio Membresia</label>
                        <input type="text" name="PRECIO_MEMBRESIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_MEMBRESIA" [value]="xrayEdit.PRECIO_MEMBRESIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_HOSPITALIZACION" class="col-form-label">Precio Hospitalización Membresia</label>
                        <input type="text" name="PRECIO_MEMBRESIA_HOSPITALIZACION" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_MEMBRESIA_HOSPITALIZACION" [value]="xrayEdit.PRECIO_MEMBRESIA_HOSPITALIZACION">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_MEMBRESIA_URGENCIA" class="col-form-label">Precio Urgencia Membresia</label>
                        <input type="text" name="PRECIO_MEMBRESIA_URGENCIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_MEMBRESIA_URGENCIA" [value]="xrayEdit.PRECIO_MEMBRESIA_URGENCIA">

                    </div>
                    <div class="form-group">
                        <label for="PRECIO_HOSPITALIZACION_URGENCIA_MEMBRESIA" class="col-form-label">Precio Hospitalización Urgencia Membresia</label>
                        <input type="text" name="PRECIO_HOSPITALIZACION_URGENCIA_MEMBRESIA" #pRNoche="ngModel" class="form-control" id="recipient-name" [(ngModel)]="xrayEdit.PRECIO_HOSPITALIZACION_URGENCIA_MEMBRESIA" [value]="xrayEdit.PRECIO_HOSPITALIZACION_URGENCIA_MEMBRESIA">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button> -->
                <input type="submit" value="Guardar" class="btn btn-primary" (click)="onSubmit()">
            </div>
        </div>
    </div>
</div>