<h1 class="centerxd">LISTADO DE TRASLADO</h1>

<div class="row">

    <div class="col-md-8">
        <div class="form-group">

            <input type="text" name="filterPost" placeholder="Buscar" class="form-control" style="margin-left: 25px; max-width:40em" (keyup)="busquedaGeneral( )" [(ngModel)]="termino">
            <!-- <button class="btn btn-primary" type="submit">
            Buscar
        </button> -->
        </div>
    </div>

    <div class="col-md-2">
        <button type=" button " class="btn btn-primary separar boton_contra1" [routerLink]="['/hoja-fram']" routerLinkActive="router-link-active">COTIZAR</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-secondary boton_contra2" [routerLink]="['/ambulancia-nuevo']" routerLinkActive="router-link-active">NUEVO</button>
    </div>
    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Buscar" class="form-control" style="margin-left: 25px; max-width:40em">
                <!-- <button class="btn btn-primary" type="submit">
            Buscar
        </button> -->
            </div>
        </div>

        <div class="col-md-2">
            <button type=" button " class="btn btn-primary separar boton_contra1" [routerLink]="['/hoja-fram']" routerLinkActive="router-link-active">COTIZAR</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-secondary boton_contra2" [routerLink]="['/ambulancia-nuevo']" routerLinkActive="router-link-active">NUEVO</button>
        </div>
    </div>


    <div class="row">

        <div class="col-md-9" *ngIf="showTableAmbulanacia">
            <div class="card" style="border-radius: 30px; margin-left: 25px;">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-2 text_header">
                            <p>Destino</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>Traslado de día</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>Traslado redondo de día</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>Traslado de noche</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>Traslado redondo de noche</p>
                        </div>
                        <div class="col-md-2 text_header"></div>
                    </div>
                </div>
                <div class="card-body" style="background-color: #f8f9fc;">
                    <div *ngFor="let ambulanciaSiService of ambulanciaSI">
                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                    {{ ambulanciaSiService.DESTINO }}
                  </label>

                            </div>


                            <div class="col-md-2">

                                <button (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_DIA, ambulanciaSiService.PRECIO_MEMBRESIA_DIA, ambulanciaSiService )" class="cursor  btn btn-light precioPublico" style="margin-top: 3px; margin-left:-14px; width: 9.5em; height: 4em;">

                              <!-- <i class="fas fa-plus" ></i> -->

                              <h5  (click)="agregarCarrito( $event, ambulanciaSiService )"   >    

                                {{ ambulanciaSiService.PRECIO_PUBLICO_DIA }}
                              </h5> 
                    
                


                            </button>
                            </div>
                            <div class="col-md-2">

                                <div (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_REDONDO_DIA, ambulanciaSiService.PRECIO_MEMBRESIA_REDONDO_DIA, ambulanciaSiService)" class="cursor btn btn-light precioRedondoDia" style="margin-top: 3px; margin-left:-14px; width: 9.5em;
                  height: 4em;">


                                    <h5 (click)="agregarCarrito( $event, ambulanciaSiService )">
                                        {{ ambulanciaSiService.PRECIO_PUBLICO_REDONDO_DIA }}

                                    </h5>



                                    <!-- <button class="btn btn-success precioRedondoDia" >
                        <i class="fas fa-plus"></i>
                    </button> -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_NOCHE, ambulanciaSiService.PRECIO_MEMBRESIA_NOCHE, ambulanciaSiService  )" class="cursor btn btn-light precioNoche" style="margin-top: 3px; margin-left:-14px; width: 9.5em;
                  height: 4em;">


                                    <h5 (click)="agregarCarrito( $event, ambulanciaSiService )">

                                        {{ ambulanciaSiService.PRECIO_PUBLICO_NOCHE }}

                                    </h5>


                                    <!-- <button class="btn btn-success " (click)="agregarCarrito( $event, ambulanciaSiService )">
                        <i class="fas fa-plus"></i>
                    </button> -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_REDONDO_NOCHE, ambulanciaSiService.PRECIO_MEMBRESIA_REDONDO_NOCHE, ambulanciaSiService )" class="cursor btn btn-light precioRedondoNoche" style="margin-top: 3px; margin-left:-14px; width: 9.5em;
                  height: 4em;">

                                    <h5 (click)="agregarCarrito( $event, ambulanciaSiService )">

                                        {{ ambulanciaSiService.PRECIO_PUBLICO_REDONDO_NOCHE }}

                                    </h5>


                                    <!-- <button class="btn btn-success " (click)="agregarCarrito( $event, ambulanciaSiService )">
                        <i class="fas fa-plus"></i>
                    </button> -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="btn btn-outline-success" style="margin: 10px;" (click)="editarAmbulancia()" [routerLink]="['/ambulancia-editar', ambulanciaSiService._id]" routerLinkActive="router-link-active">
                    <i class="fas fa-edit"></i>
                </label>
                                <label class="btn btn-outline-danger" style="margin: 10px;" (click)="delete(ambulanciaSiService._id)">
                    <i class="fas fa-trash-alt"></i>
                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ESTA ES LA TABLA DE LOS DEMAS SERVICIOS  -->

        <div class="col-md-9" *ngIf="!showTableAmbulanacia">
            <div class="card" style="border-radius: 30px; margin-left: 25px;">

                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-2 text_header">
                            <p> ESTUDIO </p>

                        </div>
                        <div class="col-md-2 text_header">
                            <p> PRECIO DE DÍA </p>

                        </div>

                        <div class="col-md-2 text_header">
                            <p> PRECIO DE NOCHE </p>

                        </div>

                        <div class="col-md-2 text_header">
                            <p> PRECIO REDONDO DÍA </p>

                        </div>

                        <div class="col-md-2 text_header">
                            <p> PRECIO REDONDO NOCHE </p>

                        </div>



                    </div>

                </div>

                <div class="card-body" style="background-color: #f8f9fc;">
                    <hr> AMBULANCIA
                    <hr>
                    <div *ngFor="let item of todosLosServicios.ambulancia">
                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.DESTINO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_DIA }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_NOCHE }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_REDONDO_DIA }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_REDONDO_NOCHE }}
                            </label>
                            </div>




                        </div>

                    </div>

                    <hr> ENDOSCOPIAS
                    <hr>
                    <div *ngFor="let item of todosLosServicios.endoscopia">
                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.ESTUDIO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_URGENCIA }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION_URGENCIA }}
                            </label>
                            </div>




                        </div>
                    </div>


                    <hr> RAYOS X
                    <hr>

                    <div *ngFor="let item of todosLosServicios.rayosX">
                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.ESTUDIO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_URGENCIA }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION_URGENCIA }}
                            </label>
                            </div>




                        </div>
                    </div>

                    <!-- ACABAN LOS RAYOS X -->

                    <!-- INCIAN LOS LABORATORIOS -->

                    <hr> LABORATORIOS

                    <hr>

                    <div *ngFor="let item of todosLosServicios.laboratorios">

                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.ESTUDIO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PUBLICO }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.URGENCIAPUBLICO }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION_URGENCIA }}
                            </label>
                            </div>




                        </div>
                    </div>

                    <!-- TERMINAN LOS LABORATORIOS  -->


                    <!-- INCIAN OTROS SERVICIOS  -->


                    <hr> OTROS SERVICIOS

                    <hr>

                    <div *ngFor="let item of todosLosServicios.otrosServicio">

                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.ESTUDIO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_URGENCIA }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA }}
                            </label>
                            </div>




                        </div>
                    </div>



                    <!-- TERMINAN OTROS SERVICIOS -->

                    <!-- INICIA PATOLOGIA  -->



                    <hr> PATOLOGIAS

                    <hr>

                    <div *ngFor="let item of todosLosServicios.patologia">

                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.ESTUDIO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_URGENCIA }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA }}
                            </label>
                            </div>


                        </div>
                    </div>


                    <!-- TERMINA PATOLOGIA  -->


                    <!-- INICIA TOMOGRAFIA -->


                    <hr> TOMOGRAFÍA

                    <hr>

                    <div *ngFor="let item of todosLosServicios.tomografia">

                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.ESTUDIO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_URGENCIA }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA }}
                            </label>
                            </div>


                        </div>
                    </div>



                    <!-- TERMINA TOMOGRAFIA -->


                    <!-- INICIA ULTRASONIDO -->


                    <hr> ULTRASONIDOS

                    <hr>

                    <div *ngFor="let item of todosLosServicios.ultrasonido">

                        <div class="row">
                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.ESTUDIO }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO }}
                            </label>
                            </div>



                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_URGENCIA }}
                            </label>
                            </div>

                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACION }}
                            </label>
                            </div>


                            <div class="col-md-2">
                                <label style="margin-right: 50px; margin-top: 18px;">
                                {{ item.PRECIO_PUBLICO_HOSPITALIZACIO_URGENCIA }}
                            </label>
                            </div>


                        </div>
                    </div>


                    <!-- TERMINA ULTRASONIDO -->

                </div>



            </div>


        </div>

        <!-- TERMINA LA TABLA DE LOS DEMAS SERVICIOS  -->




        <div class="col-md-3">
            <div class="card" style="margin: 10px; height: 33em; border-radius: 24px;">
                <div class="card-title" style="border-bottom-style: solid;">
                    <h4 style="text-align: center;">COTIZACIÓN</h4>
                </div>
                <div class="card-body" style="overflow: auto;">
                    <div class="row" *ngFor="let pedido of carrito.items">
                        <div class="col-md-8">
                            <p style="font-size: 11px; font-weight: 600; margin-top: 10px;
                 text-align: center;"> {{ pedido.nombreEstudio }} : {{ pedido.precioSin }} {{ pedido.precioNoche }} </p>
                        </div>
                        <div class="col-md-2">
                            <button type="button" (click)="eliminar(pedido.idEstudio)" class="btn btn-link" style="color: red;">
                    <!-- <i class="fas fa-trash-alt"></i> -->
                    Eliminar
                    </button>
                        </div>
                    </div>
                </div>




                <div class="card-footer" style="border-top-style: solid;">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 style="font-size: 15px; font-weight: 800;">Total: &#36; {{carrito.totalSin}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <h5 style="font-size: 15px; font-weight: 800;">Total membrecia: &#36; {{ carrito.totalCon}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <h5 style="font-size: 15px; font-weight: 800;">Ahorro: &#36; {{carrito.totalSin - carrito.totalCon}}</h5>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-block btn-tarjeta" [routerLink]="['/pago', 'pedido', 'sin']">
              <i class="fas fa-hand-holding-usd"></i>
                Pagar
            </button>
                    <button class="btn btn-dark btn-tarjeta mt-2" [routerLink]="['/paciente']" routerLinkActive="router-link-active">
                <i class="fas fa-user-plus"></i>
                 Nuevo
            </button>
                    <button type="button" class="btn btn-primary btn-block mt-2 btn-tarjeta" [routerLink]="['/imprimir-ticket']">
    
                <i class="far fa-file-pdf" routerLinkActive="router-link-active" ></i>
                Imprimir
            </button>
                    <button class="btn btn-block btn-info  btn-tarjeta">
                      <i class="fas fa-share-alt"></i>
                        Enviar
                </button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card" style="border-radius: 30px; margin-left: 25px;">
                    <div class="card-heder header">
                        <div class="row">
                            <div class="col-md-2 text_header">
                                <p>Destino</p>
                            </div>
                            <div class="col-md-2 text_header">
                                <p>Traslado de día</p>
                            </div>
                            <div class="col-md-2 text_header">
                                <p>Traslado redondo de día</p>
                            </div>
                            <div class="col-md-2 text_header">
                                <p>Traslado de noche</p>
                            </div>
                            <div class="col-md-2 text_header">
                                <p>Traslado redondo de noche</p>
                            </div>
                            <div class="col-md-2 text_header"></div>
                        </div>
                    </div>
                    <div class="card-body" style="background-color: #f8f9fc;">
                        <div *ngFor="let ambulanciaSiService of ambulanciaSI">
                            <div class="row">
                                <div class="col-md-2">
                                    <label style="margin-right: 50px; margin-top: 18px;">
                    {{ ambulanciaSiService.DESTINO }}
                  </label>
                                </div>
                                <div class="col-md-2">
                                    <button (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_DIA, ambulanciaSiService.PRECIO_MEMBRESIA_DIA, ambulanciaSiService )" class="cursor  btn btn-light" style="margin-top: 3px; margin-left:-14px; width: 9.5em;
                  height: 4em;">
                    {{ ambulanciaSiService.PRECIO_PUBLICO_DIA }}
                    <!-- <button class="btn btn-success precioPublico" (click)="agregarCarrito( $event, ambulanciaSiService )">
                        <i class="fas fa-plus"></i>
                    </button> -->
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <div (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_REDONDO_DIA, ambulanciaSiService.PRECIO_MEMBRESIA_REDONDO_DIA, ambulanciaSiService)" class="cursor btn btn-light" style="margin-top: 3px; margin-left:-14px; width: 9.5em;
                  height: 4em;">
                                        {{ ambulanciaSiService.PRECIO_PUBLICO_REDONDO_DIA }}
                                        <!-- <button class="btn btn-success precioRedondoDia" (click)="agregarCarrito( $event, ambulanciaSiService )">
                        <i class="fas fa-plus"></i>
                    </button> -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_NOCHE, ambulanciaSiService.PRECIO_MEMBRESIA_NOCHE, ambulanciaSiService  )" class="cursor btn btn-light" style="margin-top: 3px; margin-left:-14px; width: 9.5em;
                  height: 4em;">
                                        {{ ambulanciaSiService.PRECIO_PUBLICO_NOCHE }}
                                        <!-- <button class="btn btn-success precioNoche" (click)="agregarCarrito( $event, ambulanciaSiService )">
                        <i class="fas fa-plus"></i>
                    </button> -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div (click)="alertcomparasion( $event, ambulanciaSiService.PRECIO_PUBLICO_REDONDO_NOCHE, ambulanciaSiService.PRECIO_MEMBRESIA_REDONDO_NOCHE, ambulanciaSiService )" class="cursor btn btn-light" style="margin-top: 3px; margin-left:-14px; width: 9.5em;
                  height: 4em;">
                                        {{ ambulanciaSiService.PRECIO_PUBLICO_REDONDO_NOCHE }}
                                        <!-- <button class="btn btn-success precioRedondoNoche" (click)="agregarCarrito( $event, ambulanciaSiService )">
                        <i class="fas fa-plus"></i>
                    </button> -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="btn btn-outline-success" style="margin: 10px;" (click)="editarAmbulancia()" [routerLink]="['/ambulancia-editar', ambulanciaSiService._id]" routerLinkActive="router-link-active">
                    <i class="fas fa-edit"></i>
                </label>
                                    <label class="btn btn-outline-danger" style="margin: 10px;" (click)="delete(ambulanciaSiService._id)">
                    <i class="fas fa-trash-alt"></i>
                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="margin: 10px; height: 33em; border-radius: 24px;">
                    <div class="card-title" style="border-bottom-style: solid;">
                        <h4 style="text-align: center;">COTIZACIÓN</h4>
                    </div>
                    <div class="card-body" style="overflow: auto;">
                        <div class="row" *ngFor="let pedido of carrito.items">
                            <div class="col-md-8">
                                <p style="font-size: 11px; font-weight: 600; margin-top: 10px;
             text-align: center;"> {{ pedido.nombreEstudio }} : {{ pedido.precioSin }} {{ pedido.precioNoche }} </p>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="eliminar(pedido.idEstudio)" class="btn btn-link" style="color: red;">
                <!-- <i class="fas fa-trash-alt"></i> -->
                Eliminar
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="border-top-style: solid;">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 style="font-size: 15px; font-weight: 800;">Total: &#36; {{carrito.totalSin}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <h5 style="font-size: 15px; font-weight: 800;">Total membrecia: &#36; {{ carrito.totalCon}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <h5 style="font-size: 15px; font-weight: 800;">Ahorro: &#36; {{carrito.totalSin - carrito.totalCon}}</h5>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-block btn-tarjeta" [routerLink]="['/pago', 'pedido', 'sin']">
          <i class="fas fa-hand-holding-usd"></i>
            Pagar
        </button>
                        <button class="btn btn-dark btn-tarjeta mt-2" [routerLink]="['/paciente']" routerLinkActive="router-link-active">
            <i class="fas fa-user-plus"></i>
             Nuevo
        </button>
                        <button type="button" class="btn btn-primary btn-block mt-2 btn-tarjeta" [routerLink]="['/imprimir-ticket']">

            <i class="far fa-file-pdf" routerLinkActive="router-link-active" ></i>
            Imprimir
        </button>
                        <button class="btn btn-block btn-info  btn-tarjeta">
                  <i class="fas fa-share-alt"></i>
                    Enviar
            </button>
                    </div>
                </div>
            </div>

        </div>