.rightxd {
    float: right;
    margin: 1rem 0;
}

.centerxd {
    text-align: center;
}

.separar {
    margin-right: 4px;
}

.ambulance {
    margin: 1rem 1rem;
}
.fixed{
    top: 15%;
}

.cursor:hover {
    cursor: pointer;
    background-color: #2b71a0;
    color: #ffffff;
}

.izq {
    float: right;
    margin-bottom: -3rem;
    margin-top: -3rem;
}