.card {
    height: auto;
}

tr {
    border-color: black;
}

.input-pago {
    width: 45%;
}

.radios label {
    margin-left: 35%;
    font-size: 1.3rem;
}

.card {
    max-width: 90%;
    width: auto;
}

.table-borderless {
    max-width: 80%;
}

th,
td {
    width: 90%;
}

input[type="text"] {
    margin-right: 10px;
}